{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link rel="stylesheet" href="/static/assets/plugins/gantt-pro/build/gantt.classic-dark.css">
<!-- <link rel="stylesheet" href="/static/assets/plugins/gantt-pro/home/_shared/shared.css"> -->
<!-- <link rel="stylesheet" href="/static/assets/plugins/gantt-pro/home/gantt/resources/app.css"> -->

{% endblock stylesheets %}

{% block content %}


<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>排程甘特圖
                                        <a href="/released"><button type="button" class="btn btn-rounded btn-outline-primary float-right">發行</button></a>
                                        <!-- <a href="/schedule_comparisons"><button type="button" class="btn btn-rounded btn-outline-secondary float-right"><i class="mdi mdi-format-columns"></i>排程比較</button></a>
                                        <a href="/schedule_detail"><button type="button" class="btn btn-rounded btn-outline-secondary float-right">排程明細</button></a> -->
                                        <!-- <button type="button" class="btn btn-rounded btn-outline-primary float-right">更新</button> -->
                                    </h3>
                                    <a href="#!" class="badge badge-dark f-14 text-white font-weight-light float-left" id="dashboard_schedule_version"></a>
                                </div>
                                
                                <div class="card-block">
                                    <div id="container-gantt" style="height:500px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- <script src="/static/assets/plugins/gantt-pro/home/_shared/locales/examples.locales.umd.js?446003"></script> -->
<script data-default-locale="En" type="module" src="/static/assets/plugins/gantt-pro/home/gantt/app.module.js"></script>



{% endblock javascripts %}