{% extends "layouts/base.html" %}

{% block title %} 異常管理 {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-primary" role="alert">
                                        <p class="f-20">異常管理  
                                        </p>
                                        <label class="text-muted">設定異常項目後，現場即可直接點選異常原因進行回報。</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>異常項目列表
                                                <a href="#"><button type="button"
                                                    class="btn btn-rounded btn-outline-primary float-right">新增</button></a>
                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>類別</th>
                                                            <th>異常原因</th>
                                                            <th>異常代碼</th>
                                                            <th>動作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>資源異常</td>
                                                            <td>機台故障</td>
                                                            <td>[ER1] 設備損壞</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>資源異常</td>
                                                            <td>機台故障</td>
                                                            <td>[ER2] 空壓機損壞</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>無法生產</td>
                                                            <td>[EP1] 缺治工具</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>無法生產</td>
                                                            <td>[EP2] 缺程式</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>無法生產</td>
                                                            <td>[EP3] 缺料</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>品質異常</td>
                                                            <td>[EQ1] 重工</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>品質異常</td>
                                                            <td>[EQ2] 報廢</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>工作異常</td>
                                                            <td>其他</td>
                                                            <td>[EN1] 其他</td>
                                                            <td><a class="btn btn-sm btn-outline-secondary" href="#" role="button">刪除</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
