{% extends "layouts/base.html" %}

{% block title %} Bottlenecks {% endblock %}

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>瓶頸製程</h3>
                                </div>
                                <div class="card-block">


                                    <div class="table-responsive form-material">
                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>製程名稱</th>
                                                    <th>最大等待時間(小時)</th>
                                                    <th>逾時工單</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for jlb_name in BOTTLENECK %}
                                                <tr>
                                                    <td>{{jlb_name}}</td>
                                                    <td class="font-weight-bold">
                                                        {{BOTTLENECK[jlb_name]["max_waiting_time"]}}</td>
                                                    <td class="font-weight-bold">
                                                        {% for pid in BOTTLENECK[jlb_name]["projects"] %}
                                                        <a class="btn btn-sm btn-{{BOTTLENECK[jlb_name]['color']}} text-dark"
                                                            href="/delay_detail/{{pid}}">
                                                            {{BOTTLENECK[jlb_name]["projects"][pid]}}</a>
                                                        {% endfor %}
                                                        

                                                    </td>

                                                    <td>
                                                        <a class="btn btn-sm btn-outline-secondary float-right" href="#"
                                                            role="button" data-toggle="modal" id="create_threshold"
                                                            data-target="#exampleModal" data-id="{{jlb_name}}">警示設定</a>
                                                        <a class="btn btn-sm btn-outline-secondary float-right" href="#"
                                                            role="button" data-toggle="modal" data-target="#ignoreModal"
                                                            data-id="{{jlb_name}}" id="create_ignore">忽略</a>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    {% for jlb_name in BOTTLENECK %}
                    <div class="collapse show" id="collapseDetail_{{jlb_name}}">
                        <div class="row">
                            <div class="col-12">
                                <div class="card ">
                                    <div class="card-header">
                                        <h5>瓶頸分析 <span class="badge badge-dark f-16"> {{jlb_name}}</span>
                                        </h5>
                                    </div>

                                    <div class="card-block pb-0">


                                        <br>
                                        <h5 class="text-center">可用資源</h5>
                                        <hr>
                                        <div class="table-responsive form-material">
                                            <table id="simpletable2"
                                                class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>名稱</th>
                                                        <th>類型</th>
                                                        <th>工作時間</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for resource_type in
                                                    BOTTLENECK[jlb_name]["candidate_resources"]%}
                                                    {% for rid in
                                                    BOTTLENECK[jlb_name]["candidate_resources"][resource_type] %}
                                                    <tr>
                                                        <td><a class="btn btn-sm btn-warning text-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["resource_name"]}}</a>
                                                        </td>
                                                        <td>
                                                            {{resource_type}}
                                                        </td>

                                                        <td>{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["workinghours"]}}
                                                        </td>

                                                    </tr>
                                                    {%endfor%}
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>

                                        <br>
                                        <h5 class="text-center">排定工作</h5>
                                        <hr>
                                        <div class="table-responsive form-material">
                                            <table id="simpletable"
                                                class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>工單</th>
                                                        <th>料號</th>
                                                        <th>工作編號</th>
                                                        <th>狀態</th>

                                                        <th>排定資源</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>
                                                        <!-- <th>等待時間(小時)</th>
                                                        <th>寬裕時間(小時)</th>
                                                        <th>工單排程狀態</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for resource_type in BOTTLENECK[jlb_name]["candidate_resources"]%}
                                                    {% for rid in BOTTLENECK[jlb_name]["candidate_resources"][resource_type] %}


                                                    {% for jid in BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"]
                                                    %}
                                                    
                                                        <td><a class="btn btn-sm btn-dark"
                                                            href="#">{{ BOTTLENECK[jlb_name]['resource_schedule'][rid]['jid_list'][jid]['project_name'] }}</a>
                                                    </td>

                                                    
                                                        <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ BOTTLENECK[jlb_name]['resource_schedule'][rid]['jid_list'][jid]['product_id'] }}">{{ BOTTLENECK[jlb_name]['resource_schedule'][rid]['jid_list'][jid]['product_name'] }}</a>
                                                    </td>

                                                        {%if jid in BOTTLENECK[jlb_name]["jobs"]%}

                                                        
                                                        <td>
                                                            <a class="btn btn-sm btn-warning text-dark"
                                                                href="/job_detail/{{jid}}">{{jid}}</a>
                                                        </td>

                                                        <td>等待
                                                            {{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["waiting_time"]}}小時
                                                        </td>
                                                        {%else%}
                                                        
                                                        <td>
                                                            <a class="btn btn-sm btn-dark "
                                                                href="/job_detail/{{jid}}">{{jid}}</a>
                                                        </td>

                                                        <td>等待
                                                            {{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["waiting_time"]}}小時
                                                        </td>
                                                        {%endif%}

                                                        <td>
                                                            <h6 class="m-0">
                                                                {{BOTTLENECK[jlb_name]["resource_schedule"][rid]["resource_name"]}}
                                                            </h6>
                                                        </td>

                                                        <td>{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["plan_start_time"]}}
                                                        </td>
                                                        <td>{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["plan_end_time"]}}
                                                        </td>
                                                        {% if
                                                        BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["real_start_time"]
                                                        %}
                                                        <td>{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["real_start_time"]}}
                                                        </td>
                                                        {%else %}
                                                        <td></td>
                                                        {%endif%}
                                                        {% if
                                                        BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["real_end_time"]
                                                        %}
                                                        <td>{{BOTTLENECK[jlb_name]["resource_schedule"][rid]["jid_list"][jid]["real_end_time"]}}
                                                        </td>
                                                        {%else%}
                                                        <td></td>
                                                        {%endif%}

                                                    </tr>
                                                    {%endfor %}
                                                    {%endfor%}
                                                    {%endfor%}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    {%endfor%}


                    <!-- [ Main Content ] end -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">警示設定</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <form method="POST">
                                    <input type="hidden" name="threshold" value= />
                                    <input type="hidden" name="eventId1" id="eventId1" />

                                    <div class="modal-body">


                                        <div class="form-group">
                                            <span>當等待時間值為
                                                <input type="number" id="warning" name="warning" value=4
                                                    class="text-muted">
                                                小時時，警示<span class="text-c-yellow">黃燈</span></span>
                                        </div>
                                        <div class="form-group">
                                            <span>當等待時間值為
                                                <input type="number" id="urgent" name="urgent" value=20
                                                    class="text-muted">
                                                小時時，警示<span class="text-danger">紅燈</span></span>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary">確認</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ignoreModal" tabindex="-1" role="dialog"
                        aria-labelledby="ignoreModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ignoreModalLabel">忽略設定</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <form method="POST">
                                    <input type="hidden" name="eventId2" id="eventId2" />

                                    <div class="modal-body">


                                        <select class="js-example-basic-single form-control"
                                            onchange='this.form.submit()' name="ignore" required name="ignore">
                                            <!-- <option value="never">永不忽略</option> -->
                                            <option value="ignoreOnce">在此次排程中忽略</option>
                                            <option value="alwaysIgnore">每次排程皆忽略該製程</option>


                                        </select>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
<script>

    $(document).on("click", "#create_threshold", function () {
        var eventId = $(this).data('id');
        $('#idHolder1').html(eventId);
        $('#eventId1').val(eventId);

    });

    $(document).on("click", "#create_ignore", function () {
        var eventId2 = $(this).data('id');
        $('#idHolder2').html(eventId2);
        $('#eventId2').val(eventId2);
    });

</script>
<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable();
    }, 200);
</script>
<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable();
        $('#simpletable2').DataTable();
        $('#simpletable3').DataTable();
    }, 600);
</script>

{% endblock javascripts %}