{% extends "layouts/base.html" %}

{% block title %} 新建製程 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- select2 css -->
    <link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">
    <!-- multi-select css -->
    <link rel="stylesheet" href="/static/assets/plugins/multi-select/css/multi-select.css">


{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>新建製程 / 右車削-Lathing
                                            <span class="badge badge-warning f-12 float-right">建立中</span>
                                        </h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>基本資訊
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>製程名稱/編號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="右車削-Lathing">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">站點</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>車銷</option>
                                                                        <option>銑床</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="exampleFormControlSelect2">主要製造資源</label>
                                                                <select class="form-control" id="exampleFormControlSelect2">
                                                                    <option value="AL">機台</option>
                                                                    <option value="WY">人員</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect3">製程類型</label>
                                                                    <select class="form-control" id="exampleFormControlSelect3">
                                                                        <option>內製</option>
                                                                        <option>外包</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p>副資源 (可多選)</p>
                                                                <select class="js-example-basic-multiple col-12" multiple="multiple">
                                                                    <option value="AL">機台</option>
                                                                    <option value="AL">模具</option>
                                                                    <option value="WY">治/工具</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <button class="btn btn-primary float-right" type="submit">確認</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
    setTimeout(function() {
        // [ Multi Select ] start
        $(".js-example-basic-multiple").select2();
    }, 100);
</script>

    <!-- select2 Js -->
    <script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>
    <!-- multi-select Js -->
    <script src="/static/assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
    <script src="/static/assets/plugins/multi-select/js/jquery.multi-select.js"></script>


{% endblock javascripts %}