{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>新增工單 / MAA2060492
                                            <span class="badge badge-success f-12 float-right">已確認</span>
                                            <span class="badge badge-warning f-12 float-right">建立中</span>
                                        </h3>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>基本資訊
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>工單編號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="MAA2060492">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>批號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="001">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">生產料號</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>輸入料號</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>生產數量</label>
                                                                    <input type="text" class="form-control" placeholder="10">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row"> 
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>工單交期</label>
                                                                    <input type="text" class="form-control" placeholder="2020/01/20">
                                                                </div>
                                                            </div>           
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <button class="btn btn-secondary float-right disabled" type="submit">確認</button>
                                                    <button class="btn btn-primary float-right" type="submit">更新</button>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>工作流程
                                                    <button type="button" class="btn btn-rounded btn-outline-secondary float-right">參考料號</button>
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <div class="table-responsive form-material">
                                                        <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>站點</th>
                                                                    <th>站點順序</th>
                                                                    <th>製程名稱</th>
                                                                    <th>細部工序流程</th>
                                                                    <th>數量</th>
                                                                    <th>預估工時(小時)</th>
                                                                    <th>前置料號/工作</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="task-page">
                                                                <tr>
                                                                    <td> 1 </td>
                                                                    <td> 車銷 </td>
                                                                    <td> 1 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/project-schedule.html">車削-Lathing</a>
                                                                    </td>
                                                                    <td>1</td>
                                                                    <td>10</td>
                                                                    <td>
                                                                        5
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/job-detail.html">PN060491 / QC</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> 2 </td>                                                                 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/add-job.html">+</a>
                                                                    </td>
                                                                    <td></td>
                                                                    <!-- <td></td>
                                                                    <td>
                                                                    </td> -->
                                                                    <td>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr>
                                                    <button class="btn btn-primary float-right" type="submit">確認</button>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>物料清單
                                                </h3>
                                            </div>
                                                <div class="card-block">
                                                    <div class="table-responsive form-material">
                                                        <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>料號</th>
                                                                    <th>需求數量</th>
                                                                    <th>已領數量</th>
                                                                    <th>庫存數量</th>
                                                                    <th>可調用量</th>
                                                                    <th>單位</th>
                                                                    <th>備料天數</th>
                                                                    <th>物料狀態</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="task-page">
                                                                <tr>
                                                                    <td> 1 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/material-detail.html">110001</a>
                                                                    </td>
                                                                    <td>10</td>
                                                                    <td>0</td>
                                                                    <td>
                                                                        0
                                                                    </td>
                                                                    <td>0</td>
                                                                    <td class="text-muted">PCS</td>
                                                                    <td>
                                                                        5
                                                                    </td>
                                                                    <td>
                                                                        <span class="badge badge-warning f-12">缺料</span>
                                                                        <span class="badge badge-secondary f-12">鎖定</span>
                                                                        <span class="badge badge-success f-12">READY</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> 2 </td>                                                                 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/add-material.html">+</a>
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr>
                                                    <button class="btn btn-primary float-right" type="submit">確認</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}