{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link rel="stylesheet" href="/static/assets/plugins/gantt-pro/build/gantt.classic-dark.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>新增訂單 / OP17100022
                                        </h3>
                                        <span class="badge badge-success f-12 float-right">已確認</span>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <!-- <div class="card-header">
                                                <h3>
                                                    <span class="badge badge-success f-12 float-right">已確認</span>
                                                    <button class="btn btn-lg btn-secondary float-left" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample"> 基本資訊 <i class="mdi mdi-unfold-more-horizontal f-22"></i></button>
                                                </h3>
                                            </div> -->
                                            <!-- <div class="collapse" id="collapseExample1"> -->
                                                <div class="card-block">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>訂單編號</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="OP17100022">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>客戶代碼</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Customer ID">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">客戶料號</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>Product ID</option>
                                                                        <option>參考料號...</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="exampleFormControlSelect1">訂單類型</label>
                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                    <option>一般件</option>
                                                                    <option>急件</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>訂單數量</label>
                                                                    <input type="text" class="form-control" placeholder="10">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">下單時間</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                        <option>2020/01/11</option>
                                                                        <option>預計下單日...</option>
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="row">
                                                              
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>訂單交期</label>
                                                                    <input type="text" class="form-control" placeholder="2020/01/20">
                                                                </div>
                                                            </div>           
                                                        </div>
                                                    </form>
                                                    <hr>
                                                    <button class="btn btn-secondary float-right disabled" type="submit">確認</button>
                                                    <button class="btn btn-primary float-right" type="submit">更新</button>
                                                </div>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3>
                                                    <span class="badge badge-warning f-12 float-right">未確認</span>
                                                    <button class="btn btn-lg btn-secondary float-left" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"> 物料清單 <i class="mdi mdi-unfold-more-horizontal f-22"></i></button>
        
                                                </h3>
                                            </div>
                                            <div class="collapse" id="collapseExample3">
                                                <div class="card-block">
                                                    <div class="table-responsive form-material">
                                                        <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>料號</th>
                                                                    <th>需求數量</th>
                                                                    <th>庫存可用數量</th>
                                                                    <th>單位</th>
                                                                    <th>備料天數</th>
                                                                    <th>物料狀態</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="task-page">
                                                                <tr>
                                                                    <td> 1 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/project-schedule.html">PN060491</a>
                                                                    </td>
                                                                    <td>10</td>
                                                                    <td>
                                                                        0
                                                                    </td>
                                                                    <td class="text-muted">PCS</td>
                                                                    <td>
                                                                        5
                                                                    </td>
                                                                    <td>
                                                                        <span class="badge badge-warning f-12">缺料</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td> 2 </td>                                                                 </td>
                                                                    <td>
                                                                        <a class="btn btn-sm btn-dark" href="/project-schedule.html">+</a>
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                    <td>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr>
                                                    <button class="btn btn-primary float-right" type="submit">確認</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script src="/static/assets/js/pages/chart-order-slack.js"></script>

    <!-- Chart code -->
    <script>

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("line-stock", {
            "type": "serial",
            "theme": "light",
            "marginTop": 10,
            "marginRight": 0,
            "dataProvider": [{
                "year": "09/01",
                "value": 52,
                "value1": 22,
                "value2": 12,
                "value3": 18,
            }, {
                "year": "09/02",
                "value": 46,
                "value1": 20,
                "value2": 10,
                "value3": 16,
            }, {
                "year": "09/03",
                "value": 38,
                "value1": 18,
                "value2": 8,
                "value3": 12,
            }, {
                "year": "09/04",
                "value": 34,
                "value1": 16,
                "value2": 8,
                "value3": 10,
            }, {
                "year": "09/05",
                "value": 32,
                "value1": 17,
                "value2": 7,
                "value3": 8,
            }, {
                "year": "09/06",
                "value": 33,
                "value1": 20,
                "value2": 6,
                "value3": 7,
            }, {
                "year": "09/07",
                "value": 30,
                "value1": 19,
                "value2": 5,
                "value3": 6,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "graphs": [{
                "id": "g1",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
                "bullet": "round",
                "lineColor": "#10adf5",
                "lineThickness": 2,
                "negativeLineColor": "#10adf5",
                "valueField": "value",
                "title": "工作異常",
            },{
                "id": "g2",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
                "bullet": "round",
                "lineColor": "#1de9b6",
                "lineThickness": 2,
                "negativeLineColor": "#1de9b6",
                "valueField": "value1",
                "title": "工時異常",
            },{
                "id": "g3",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
                "bullet": "round",
                "lineColor": "#fdda08",
                "lineThickness": 2,
                "negativeLineColor": "#fdda08",
                "valueField": "value2",
                "title": "未按次序",
            },{
                "id": "g4",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
                "bullet": "round",
                "lineColor": "#ff0000",
                "lineThickness": 2,
                "negativeLineColor": "#ff0000",
                "valueField": "value3",
                "title": "異常回報",
            }],
            "chartCursor": {
                "cursorAlpha": 0,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "valueLineAlpha": 0.3,
                "fullWidth": true
            },
            "categoryField": "year",
            "categoryAxis": {
                "minorGridAlpha": 0,
                "minorGridEnabled": true,
                "gridAlpha": 0,
                "axisAlpha": 0,
                "lineAlpha": 0
            },
            "legend": {
                "useGraphSettings": true,
                "position": "top",
                "labelText": "[[title]]",
                "fontSize": 14,
                "horizontalGap": 20
            },
        });

        // [ Line with Area Chart 2 ] end

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("line-resource", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 52,
        }, {
            "year": "09/02",
            "value": 50,
        }, {
            "year": "09/03",
            "value": 54,
        }, {
            "year": "09/04",
            "value": 55,
        }, {
            "year": "09/05",
            "value": 45,
        }, {
            "year": "09/06",
            "value": 40,
        }, {
            "year": "09/07",
            "value": 55,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "有效資源數",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });

        // [ Line with Area Chart 2 ] end

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("resource-loading", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
                "year": "09/01",
                "value": 52,
                "value1": 22,
                "value2": 12,
                "value3": 18,
            }, {
                "year": "09/02",
                "value": 46,
                "value1": 20,
                "value2": 10,
                "value3": 16,
            }, {
                "year": "09/03",
                "value": 38,
                "value1": 18,
                "value2": 8,
                "value3": 12,
            }, {
                "year": "09/04",
                "value": 34,
                "value1": 16,
                "value2": 8,
                "value3": 10,
            }, {
                "year": "09/05",
                "value": 29,
                "value1": 14,
                "value2": 7,
                "value3": 8,
            }, {
                "year": "09/06",
                "value": 27,
                "value1": 14,
                "value2": 6,
                "value3": 7,
            }, {
                "year": "09/07",
                "value": 40,
                "value1": 19,
                "value2": 5,
                "value3": 16,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "有效資源數",
            }, {
                "id": "g2",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
                "bullet": "round",
                "lineColor": "#1de9b6",
                "lineThickness": 2,
                "negativeLineColor": "#1de9b6",
                "valueField": "value1",
                "title": "負荷40%-80%",
            },{
                "id": "g3",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
                "bullet": "round",
                "lineColor": "#fdda08",
                "lineThickness": 2,
                "negativeLineColor": "#fdda08",
                "valueField": "value2",
                "title": "負荷<=40%",
            },{
                "id": "g4",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
                "bullet": "round",
                "lineColor": "#ff0000",
                "lineThickness": 2,
                "negativeLineColor": "#ff0000",
                "valueField": "value3",
                "title": "負荷>=80%",
            }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });

        // [ Line with Area Chart 2 ] end
    </script>

{% endblock javascripts %}