{% extends "layouts/base.html" %}

{% block title %} 交期預測 {% endblock %}

{% block stylesheets %}

<!-- gridstack css -->
<link rel="stylesheet" href="/static/assets/plugins/gridstack/css/gridstack.min.css">
<!-- gridstack-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/gridstack.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3> 工序名稱 </h3>

                                <p class="text-muted">前置料號：</p>
                                <p class="text-muted">數量：{{JOB["qty"]}}</p>
                                <p class="text-muted">工序流程：{{JOB["job_sequence"]}}</p>
                                <p class="text-muted">多資源：{{JOB["multi_resource"]}}</p>
                                <p class="text-muted">預計開始：{{JOB["plan_start_time"]}}</p>
                                <p class="text-muted">預計結束：{{JOB["plan_end_time"]}}</p>
                            </div>
                            <br>

                            <div class="card-block">
                                <h3>展開工序</h3>
                                <div class="m-b-20">
                                    <form method="POST">
                                        <div class="input-group">
                                            <input type="hidden" name="phase1" value="PHASE1" />
                                            <input type="number" class="form-control" placeholder="總細部工序數" name="total">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">展開工序</button>
                                            </div>
                                        </div>
                                    </form>

                                    <br>

                                    {% if JOB_LENGTH is defined %}

                                    <form method="POST">
                                        <input type="hidden" name="phase2" value="{{JOB_LENGTH}}" />
                                        {% for i in range(JOB_LENGTH) %}

                                        <p>工序{{i}}</p>
                                        <div class="row m-b-20">
                                            <div class="col-md-4"><input type="text" class="form-control"
                                                    placeholder="工序名稱" name="job_name{{i}}"></div>
                                            <div class="col-md-4"><input type="number" class="form-control"
                                                    placeholder="數量" name="qty{{i}}"></div>
                                            <div class="col-md-4"><input type="number" class="form-control"
                                                    placeholder="總預估時間" name="est_time{{i}}"></div>
                                        </div>
                                        {% endfor %}
                                        <div class="form-group row m-b-20">
                                            <div class="col-md-12">

                                                <button type="submit" class="btn btn-primary float-right">確認變更</button>
                                            </div>
                                        </div>
                                    </form>


                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-block">
                                <h3>新增細部製品</h3>

                                <div class="m-b-20">
                                    <form method="POST">
                                        <input type="hidden" name="add1" value="ADD1">
                                        <textarea class="form-control max-textarea" maxlength="500" rows="4"
                                            name="text"></textarea>
                                        <button type="submit" class="btn btn-primary float-right">確認</button>
                                    </form>
                                    <br>
                                    {% if PRODUCT_LENGTH is defined %}

                                    <form method="POST">
                                        <input type="hidden" name="ADD2" value="{{JOB_LENGTH}}">
                                        {% for i in range(PRODUCT_LENGTH ) %}
                                        <p>{{INFO[i]}}</p>
                                        <div class="row m-b-20">
                                            <div class="col-md-4"><input type="text" class="form-control"
                                                    placeholder="補充說明" name="detail{{i}}"></div>
                                            <div class="col-md-4"><input type="number" class="form-control"
                                                    placeholder="數量" name="qty{{i}}"></div>
                                            <div class="col-md-4"><input type="number" class="form-control"
                                                    placeholder="總預估時間" name="est_time{{i}}"></div>

                                        </div>
                                        {% endfor %}
                                        <div class="form-group row m-b-20">
                                            <div class="col-md-12">

                                                <button type="submit" class="btn btn-primary float-right">確認變更</button>
                                            </div>
                                        </div>
                                    </form>


                                    {% endif %}

                                </div>
                            </div>
                            <div class="card-block">
                                <h3>合併細部製品</h3>
                                <div class="m-b-20"></div>
                            </div>
                            <div class="card-block">
                                <h3>選擇特定製品</h3>
                                <div class="m-b-20"></div>
                            </div>

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- gridstack Js -->
<script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
<script src="/static/assets/plugins/gridstack/js/lodash.min.js"></script>
<script src="/static/assets/plugins/gridstack/js/gridstack.min.js"></script>
<script src="/static/assets/plugins/gridstack/js/gridstack.jQueryUI.min.js"></script>
<script src="/static/assets/js/pages/ac-gridstack.js"></script>

{% endblock javascripts %}