{% extends "layouts/base.html" %}

{% block title %} Forecast {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">  
                                <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>物料短缺 <span class="badge badge-primary f-12">已排程需求</span></h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>物料名稱</th>
                                                            <th>需求工單編號</th> 
                                                            <th>缺料</th>
                                                            <th>單位</th>
                                                            <th>需求日期</th>
                                                            <th>備料期</th>
                                                            <th>可調料數量</th> 
                                                            <th>回押交期</th>
                                                            <th>狀態</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">P10-B</h6>
                                                            </td>
                                                            <td>MAA2060429</td>
                                                            <td>
                                                                <h6 class="m-0">20</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">50</button>
                                                                </h6>                                                            </td>
                                                            <td> 
                                                                <h6 class="text-danger m-0">2020/08/23</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-red f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">JP-1007</h6>
                                                            </td>
                                                            <td>MAA2060429</td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">10</button>
                                                                </h6>                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/20</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">CMD-1007</h6>
                                                            </td>
                                                            <td>MAA2060429</td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">10</button>
                                                                </h6>                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/21</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>物料短缺 <span class="badge badge-warning f-12">已下單需求</span></h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>物料名稱</th>
                                                            <th>關聯單據編號</th> 
                                                            <th>缺料</th>
                                                            <th>單位</th>
                                                            <th>預計需求日期</th>
                                                            <th>備料期</th>
                                                            <th>可調料數量</th> 
                                                            <th>回押交期</th>
                                                            <th>狀態</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">P10-B</h6>
                                                            </td>
                                                            <td>OP17100022</td>
                                                            <td>
                                                                <h6 class="m-0">200</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/09/07</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">50</button>
                                                                </h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/09/07</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-yellow f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">JP-1007</h6>
                                                            </td>
                                                            <td>OP17100022</td>
                                                            <td>
                                                                <h6 class="m-0">50</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/09/07</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">10</button>
                                                                </h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/20</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">CMD-1007</h6>
                                                            </td>
                                                            <td>OP17100022</td>
                                                            <td>
                                                                <h6 class="m-0">50</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/09/07</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">                   
                                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">10</button>
                                                                </h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/21</h6>
                                                            </td>
                                                            <td><i class="fas fa-circle text-c-green f-10"></i></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">物料位置</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- [ worldLow section ] start -->
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>P10-B</h5>
                                                            
                                                        </div>
                                                        <div class="card-block">
                                                            <div id="world-low" style="height:350px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- [ worldLow section ] end -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <script>
            // [ world-low chart ] start
    var latlong = {};
    latlong["AU"] = {
        "latitude": -27,
        "longitude": 133
    };
    latlong["BR"] = {
        "latitude": -10,
        "longitude": -55
    };
    latlong["BW"] = {
        "latitude": -22,
        "longitude": 24
    };
    latlong["IN"] = {
        "latitude": 20,
        "longitude": 77
    };
    latlong["KE"] = {
        "latitude": 1,
        "longitude": 38
    };
    latlong["MX"] = {
        "latitude": 23,
        "longitude": -102
    };
    latlong["MY"] = {
        "latitude": 2.5,
        "longitude": 112.5
    };
    latlong["NI"] = {
        "latitude": 13,
        "longitude": -85
    };
    latlong["NZ"] = {
        "latitude": -41,
        "longitude": 174
    };
    latlong["PH"] = {
        "latitude": 13,
        "longitude": 122
    };
    latlong["PL"] = {
        "latitude": 52,
        "longitude": 20
    };
    latlong["RU"] = {
        "latitude": 60,
        "longitude": 100
    };
    latlong["TH"] = {
        "latitude": 15,
        "longitude": 100
    };
    latlong["ZA"] = {
        "latitude": -29,
        "longitude": 24
    };

    var mapData = [{
            "code": "MX",
            "name": "Mexico",
            "value": 114793341,
            "color": "#a389d4"
        },
        {
            "code": "BR",
            "name": "Brazil",
            "value": 196655014,
            "color": "#1de9b6"
        },
        {
            "code": "PL",
            "name": "Poland",
            "value": 382989490,
            "color": "#f44236"
        },
        {
            "code": "KE",
            "name": "Kenya",
            "value": 41609728,
            "color": "#1dc4e9"
        },
        {
            "code": "ZA",
            "name": "South Africa",
            "value": 50459978,
            "color": "#f4c22b"
        },
        {
            "code": "RU",
            "name": "Russia",
            "value": 142835555,
            "color": "#f4c22b"
        },
        {
            "code": "IN",
            "name": "India",
            "value": 241491960,
            "color": "#1de9b6"
        },
        {
            "code": "PH",
            "name": "Philippines",
            "value": 94852030,
            "color": "#04a9f5"
        },
        {
            "code": "AU",
            "name": "Australia",
            "value": 22605732,
            "color": "#1dc4e9"
        },
        {
            "code": "TH",
            "name": "Thailand",
            "value": 69518555,
            "color": "#f44236"
        },
        {
            "code": "BW",
            "name": "Botswana",
            "value": 2030738,
            "color": "#04a9f5"
        },
        {
            "code": "MY",
            "name": "Malaysia",
            "value": 28859154,
            "color": "#A389D4"
        },
        {
            "code": "NZ",
            "name": "New Zealand",
            "value": 4414509,
            "color": "#04a9f5"
        },
        {
            "code": "NI",
            "name": "Nicaragua",
            "value": 5869859,
            "color": "#A389D4"
        }
    ];

    var minBulletSize = 3;
    var maxBulletSize = 70;
    var min = Infinity;
    var max = -Infinity;
    for (var i = 0; i < mapData.length; i++) {
        var value = mapData[i].value;
        if (value < min) {
            min = value;
        }
        if (value > max) {
            max = value;
        }
    }

    var maxSquare = maxBulletSize * maxBulletSize * 2 * Math.PI;
    var minSquare = minBulletSize * minBulletSize * 2 * Math.PI;

    var images = [];
    for (var i = 0; i < mapData.length; i++) {
        var dataItem = mapData[i];
        var value = dataItem.value;

        var square = (value - min) / (max - min) * (maxSquare - minSquare) + minSquare;
        if (square < minSquare) {
            square = minSquare;
        }
        var size = Math.sqrt(square / (Math.PI * 8));
        var id = dataItem.code;

        images.push({
            "type": "circle",
            "theme": "light",
            "width": size,
            "height": size,
            "color": dataItem.color,
            "longitude": latlong[id].longitude,
            "latitude": latlong[id].latitude,
            "title": dataItem.name + "</br> [ " + value + " ]",
            "value": value
        });
    }
    var map = AmCharts.makeChart("world-low", {
        "type": "map",
        "projection": "eckert6",

        "dataProvider": {
            "map": "worldLow",
            "images": images
        },
        "export": {
            "enabled": true
        }
    });
    // [ world-low chart ] end
    </script>

{% endblock javascripts %}
