{% extends "layouts/base.html" %}

{% block title %} Forecast {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Amchart ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>製程瓶頸 <span class="badge badge-primary f-12">已排程</span></h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">14天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">30天</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-5">
                                                    <h6>最大等待時間 (小時)</h6>
                                                    <hr>
                                                    <div id="line-area2" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <!-- [ Amchart ] End -->
                                <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>瓶頸分析 <span class="badge badge-primary f-12">已排程</span></h5>
                                        </div>
                                        <div class="card-block pb-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>製程名稱</th>
                                                            <th>日期</th> 
                                                            <th>最大等待時間(小時)</th>
                                                            <th>等待工單</th>
                                                            <th>可用資源</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">成組</h6>
                                                            </td>
                                                            <td>2020/09/04</td>
                                                            <td>
                                                                <h6 class="m-0">4.5</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">MAA2060435</span>
                                                                    <span class="badge badge-dark f-12">MAA2060439</span>
                                                                </h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">H001</span>
                                                                    <span class="badge badge-dark f-12">H002</span>
                                                                    <span class="badge badge-dark f-12">H003</span>
                                                                </h6>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">成組</h6>
                                                            </td>
                                                            <td>2020/09/05</td>
                                                            <td>
                                                                <h6 class="m-0">4.8</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">MAA2060437</span>
                                                                    <span class="badge badge-dark f-12">MAA2060439</span>
                                                                </h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">
                                                                    <span class="badge badge-dark f-12">H001</span>
                                                                    <span class="badge badge-dark f-12">H002</span>
                                                                    <span class="badge badge-dark f-12">H003</span>
                                                                </h6>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- am chart js -->
    <script src="/static/assets/plugins/chart-am4/js/core.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/charts.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/animated.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/maps.js"></script>
    <script src="/static/assets/plugins/chart-am4/js/worldLow.js"></script>

    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script>
    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-waiting", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 5,
            "value2": 12,
            "value3": 10,
        }, {
            "year": "09/02",
            "value": 30,
            "value2": 65,
            "value3": 45,
        }, {
            "year": "09/03",
            "value": 25,
            "value2": 77,
            "value3": 48,
        }, {
            "year": "09/04",
            "value": 55,
            "value2": 285,
            "value3": 89,
        }, {
            "year": "09/05",
            "value": 45,
            "value2": 290,
            "value3": 88,
        }, {
            "year": "09/06",
            "value": 65,
            "value2": 87,
            "value3": 82,
        }, {
            "year": "09/07",
            "value": 60,
            "value2": 90,
            "value3": 75,
        }, {
            "year": "09/08",
            "value": 75,
            "value2": 180,
            "value3": 72,
        }, {
            "year": "09/09",
            "value": 80,
            "value2": 90,
            "value3": 86,
        }, {
            "year": "09/10",
            "value": 50,
            "value2": 75,
            "value3": 72,
        }, {
            "year": "09/11",
            "value": 40,
            "value2": 65,
            "value3": 78,
        }, {
            "year": "09/12",
            "value": 35,
            "value2": 50,
            "value3": 76,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "前段",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value2",
            "title": "成組",
        }, {
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value3",
            "title": "配線",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end
        
    </script>

{% endblock javascripts %}
