{% extends "layouts/base.html" %}

{% block title %} Orders {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Task List</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task</a></li>
                                        <li class="breadcrumb-item"><a href="#!">Task List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>歷史記錄查詢</h5>
                                        </div>
                                        <div class="card-block ">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control add_task_todo" placeholder="輸入欲查詢之工單,製品,資源,物料,或客戶代碼..." required="">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-icon btn-msg-send" type="button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
