{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

<style>
    .create{
        padding: 20px;
    }
</style>

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card Active-visitor">
                                <div class="card-header">
                                    <h3>即時總覽
                                        <a href="/gantt"><button type="button" class="btn btn-rounded btn-outline-light float-right">排程甘特圖</button></a>
                                        <a href="/reschedule"><button type="button" class="btn btn-rounded btn-outline-primary float-right">重排</button></a>
                                    </h3>
                                </div>
                                <div class="card-block task-data">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-hover">

                                                    <!-- <h3>工單</h3>                                                          -->
                                                    <!-- <div>
                                                        <br>
                                                        <h5 class="text-center">今日進度 (
                                                            <span id="dashboard_complete_goal">{{DASHBOARD["complete_goal"]}}</span>
                                                                /
                                                                <span id="dashboard_goal_of_the_day">{{DASHBOARD["goal_of_the_day"]}}</span>
                                                                )
                                                        </h5>
                                                        <div class="progress mt-4 m-b-40">
                                                            <div class="progress-bar progress-c-theme"
                                                                id="dashboard_progress" role="progressbar"
                                                                style="width: 0%; height:7px;" aria-valuenow="0"
                                                                aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    
                                                    <div class="card-block text-center">

                                                        <div class="row card-active">
                                                            <div class="col-md-3">
                                                                <h4 id="dashboard_delay_count">{{DASHBOARD["delay_count"]}}</h4>
                                                                <a class="btn btn-md btn-dark f-16" href="/delay_orders" >
                                                                    逾時
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-warning" id="dashboard_bottleneck_count">{{DASHBOARD["bottleneck"]}}</h4>
                                                                <a class="btn btn-md btn-dark" href="/bottleneck_analytics">
                                                                    瓶頸製程
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <!-- <div class="col-md-4">
                                                                <h4>
                                                                    {{DASHBOARD["inprogress_count_product"]}}
                                                                </h4>
                                                                <a class="btn btn-md btn-dark">
                                                                    進行中
                                                                </a>
                                                                <br>
                                                            </div> -->
                                                            <div class="col-md-3">
                                                                <h4 class="text-secondary" id="dashboard_scheduled_count">{{DASHBOARD["scheduled_count"]}}
                                                                </h4>
                                                                <a class="btn btn-md btn-dark" href="#">
                                                                    已排程
                                                                </a>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <h4 class="text-secondary" id="dashboard_scheduled_count">{{DASHBOARD["total_project_count"]}}
                                                                </h4>
                                                                <a class="btn btn-md btn-dark" href="#">
                                                                    所有工單
                                                                </a>
                                                                <br>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </table>
                                            </div>
                                            <!-- <div class="col-6">
                                                <table class="table table-hover">
                                                    <h3>工作</h3>                                                         
                                                    <div>
                                                        <br>
                                                        <h5 class="text-center">今日進度 (
                                                            <span id="dashboard_complete_goal_job"></span>{{DASHBOARD["goal_of_the_day_job"]}}
                                                                /
                                                                <span id="dashboard_goal_of_the_day_job">{{DASHBOARD["complete_goal_job"]}}</span>
                                                                )
                                                        </h5>
                                                        <div class="progress mt-4 m-b-40">
                                                            <div class="progress-bar progress-c-theme"
                                                                id="dashboard_progress" role="progressbar"
                                                                style="width: 0%; height:7px;" aria-valuenow="0"
                                                                aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-block text-center">
                                                        <div class="row card-active">
                                                            <div class="col-md-4">
                                                                <h4 class="text-muted"
                                                                        id="dashboard_resource_abnormal">{{DASHBOARD["resource_abnormal"]}}</h4>
                                                                <a class="btn btn-md btn-dark" href="/work_center">
                                                                    資源異常
                                                                </a>
                                                                <br>
                                                                
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h4 class="text-muted" id="dashboard_job_abnormal">{{DASHBOARD["job_abnormal"]}}
                                                                </h4>
                                                                <a class="btn btn-md btn-dark" href="/job_detail/JID16">
                                                                    工作異常
                                                                </a>
                                                                <br>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </table>

                                            </div> -->
                                        </div>
                                        <hr>
                                        <div class="row create">
                                            <button type="button"
                                                    class="btn btn-rounded btn-outline-success float-right"
                                                    data-toggle="modal"
                                                    data-target="#addTest">
                                                新增工單
                                            </button>
                                        </div>
                                        <div class="row">

                                            <div class="col-12">
                                                <div class="table-responsive form-material">
                                                    <table id="simpletable"
                                                        class="table task-list-table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>訂單編號</th>
                                                                <!-- <th>訂單狀態</th> -->
                                                                <th>工單編號</th>
                                                                <th>料號</th>
                                                                <th>類別</th>
                                                                <th>建立時間</th>
                                                                <th>工單交期</th>
                                                                <th>交期預測</th>
                                                                <!-- <th>時長預測</th> -->
                                                                <th>工單狀態</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="task-page">
                                                            {% for pid in PROJECT %}
                                                            <tr>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary"
                                                                        href="#">{{PROJECT[pid]["order_id"]}}</a>
                                                                </td>
                                                                
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary"
                                                                        href="/project_schedule/{{pid}}">{{PROJECT[pid]["project_name"]}}</a>
                                                                </td>

                                                                <td>
                                                                    {% if PROJECT[pid]["product_list"] %}
                                                                    {% if PROJECT[pid]["product_list"] | length > 2 %}
                                                                    <a class="btn btn-sm btn-dark"
                                                                    href="/project_schedule/{{pid}}">
                                                                        <i class="feather icon-more-horizontal float-center"></i></a>
                                                                    {% else %}

                                                                    {% for product_id in PROJECT[pid]["product_list"] %}
                                                                    <a class="btn btn-sm btn-dark"

                                                                    href="/product_detail/{{product_id}}">{{"_".join(PROJECT[pid]["product_list"][product_id].split('_')[1:])}}</a>
                                                                    {% endfor %}
                                                                    {% endif %}
                                                                    {%else%}
                                                                    <button id="addProductBtn"
                                                                            class="btn btn-sm btn-danger"
                                                                            data-toggle="modal"
                                                                            data-target="#addProduct" value="{{pid}}">新增料號</button>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{PROJECT[pid]["project_type"]}}</td>
                                                                <td>{{PROJECT[pid]["order_date"]}}</td>
                                                                <td>{{PROJECT[pid]["due"]}}</td>
                                                                {% if PROJECT[pid]["plan_end_time"] and PROJECT[pid]["due"] %}
                                                                {% if PROJECT[pid]["due"] > PROJECT[pid]["plan_end_time"] %}
                                                                <td class="text-info">{{PROJECT[pid]["plan_end_time"]}}</td>
                                                                {%else%}
                                                                <td style="font-weight:bolder; color: #ff5757">{{PROJECT[pid]["plan_end_time"]}}</td>
                                                                {% endif %}
                                                                {% else %}
                                                                <td></td>
                                                                {% endif %}
                                                                <!-- <td>{{PROJECT[pid]["total_time"]}}</td> -->
                                                                
                                                                <!-- <td>
                                                                    <span class="badge badge-success f-12">料齊</span>
                                                                </td> -->
                                                                <td>
                                                                    {% if PROJECT[pid]["status"] == "scheduled" or PROJECT[pid]["status"] == "released"%}
                                                                    <span class="badge badge-success f-12">已排程</span>
                                                                    {% elif PROJECT[pid]["status"] == "complete" %}
                                                                    <span class="badge badge-success f-12">已完成</span> 
                                                                    {% else %}
                                                                    <span class="badge badge-warning f-12">未排程{{PROJECT[pid]["status"]}}</span>
                                                                    
                                                                    {% endif%}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- <div class="card-block task-data">
                                        <div class="row">
                                            <div class="col-6">
                                                <table class="table table-hover">
                                                    <h3>物料</h3>
                                                    
                                                    <div class="card-block text-center">
                                                        <br>
                                                        <h5 class="text-center">今日進度 (
                                                            <span id="dashboard_complete_goal"></span>
                                                                /
                                                                <span id="dashboard_goal_of_the_day"></span>
                                                                )
                                                        </h5>
                                                        <div class="progress mt-4 m-b-40">
                                                            <div class="progress-bar progress-c-theme"
                                                                role="progressbar" style="width: 100%; height:7px;"
                                                                aria-valuenow="100" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="row card-active">
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">延遲</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">進行中</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">已排程</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </table>
                                            </div>
                                            <div class="col-6">
                                                <table class="table table-hover">
                                                    <h3>外包</h3>
                                                    <div class="card-block text-center">
                                                        <br>
                                                        <h5 class="text-center">今日進度 (
                                                            <span id="dashboard_complete_goal"></span>
                                                                /
                                                                <span id="dashboard_goal_of_the_day"></span>
                                                                )
                                                        </h5>
                                                        <div class="progress mt-4 m-b-40">
                                                            <div class="progress-bar progress-c-theme"
                                                                role="progressbar" style="width: 100%; height:7px;"
                                                                aria-valuenow="100" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="row card-active">
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">延遲</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">進行中</span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-dark" href="#">
                                                                    <h4>
                                                                        <span>0</span>
                                                                    </h4>
                                                                </a>
                                                                <br>
                                                                <span class="text-muted">已排程</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </table>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTest" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">新增工單</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form style="padding: 20px 20px 0px" id="staffAdd" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >訂單編號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="order_id" id="order_id" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >工單編號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="project_name" id="project_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >類別:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="project_type">
                                    <option value="一般">一般</option>
                                    <option value="急件">急件</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >工單交期:</label>
                            </th>
                            <td>
                                <input type="date" name="due" id="due" value="2021-05-01" class="text ui-widget-content ui-corner-all form-control">
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="addProduct" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增料號</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form style="padding: 20px 20px 0px" id="staffAddProduct" enctype="multipart/form-data">
                <fieldset >
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >料號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="product_name" id="product_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >批號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="lot_nbr" id="lot_nbr" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddProductBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type="text/javascript">
    setTimeout(function () {
        $('#simpletable').DataTable({
            "pageLength": 100
        });
    }, 200);
    $(document).ready(function () {
        $('#staffAddBtn').click(function(e){
            e.preventDefault();
            const form = document.forms['staffAdd'];
            // get value
            const order_id = form.elements.order_id.value;
            const order_date = new Date().toISOString().substr(0, 10);
            const project_name = form.elements.project_name.value;
            const project_type = form.elements.project_type.value;
            const due = form.elements.due.value;


            let formData = {
                order_id,
                order_date,
                project_name,
                project_type,
                due,

            }

            let errorMessage = [];

            if( order_id === "") {
                errorMessage.push("訂單編號不得為空")
            }

            if( project_name === "") {
                errorMessage.push("工單編號不得為空")
            }

            if( due === "") {
                errorMessage.push("工單交期不得為空")
            }

            if( errorMessage.length > 0) {
                alert(errorMessage.toString());
                return
            }

            $.ajax({
                url:'http://'+document.domain+'/api/get_project',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    window.location.assign('project_schedule_add/' + data.data.index);
                    // location.reload();
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });
        var project_id ='';
        $("#addProductBtn").click(function() {
            project_id = $("#addProductBtn").val();
        });
        $('#staffAddProductBtn').click(function(e){
            e.preventDefault();
            const form = document.forms['staffAddProduct'];
            // get value
            const product_name = form.elements.product_name.value;
            const lot_nbr = form.elements.lot_nbr.value;

            let formData = {
                product_name,
                lot_nbr,
                project_id,

            }
            $.ajax({
                url:'http://'+document.domain+'/api/get_product',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    // location.reload();
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });

    });
</script>


{% endblock javascripts %}
