{% extends "layouts/base.html" %}

{% block title %} {{JOB_ID}} - 工作明細 {% endblock %}

{% block stylesheets %}

<!-- Smart Wizard css -->
<link rel="stylesheet" href="/static/assets/plugins/smart-wizard/css/smart_wizard.min.css">

{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3> {{ JOB["job_name"] }}
                                        <span class="badge badge-dark f-14">{{JOB["index"]}}</span>
                                        {% if JOB["status"] %}
                                        <span class="badge badge-primary f-12">{{JOB["status"]}}</span>



                                        {% endif %}
                                        <form method="POST">
                                            <input type="hidden" name="start" value="START" />
                                            <button type="submit" class="btn btn-lg btn-rounded btn-primary float-right"
                                                data-toggle="tooltip">開始</button>
                                        </form>

                                        <button type="button" class="btn btn-lg btn-rounded btn-success float-right"
                                            data-toggle="modal" data-target="#exampleModal2">結束</button>



                                        <button type="button"
                                            class="btn btn-lg btn-rounded btn-outline-secondary float-right"
                                            data-toggle="modal" data-target="#exampleModal">暫停
                                        </button>
                                        <button type="button"
                                            class="btn btn-lg btn-rounded btn-outline-danger float-right"
                                            data-toggle="modal" data-target="#alertModal">異常回報</button>
                                        {% if JOB["ongoing_error"] | length > 0%}
                                        <button type="button" class="btn btn-rounded btn-outline-success float-right"
                                            data-toggle="modal" data-target="#clearModal">異常排除</button>
                                        {% endif%}

                                    </h3>
                                    <br>
                                    <div class="table-responsive m-t-20 ">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>工序名稱</th>
                                                    <th>站點</th>
                                                    <th>製程</th>
                                                    <th>數量</th>
                                                    <th>工單單號</th>
                                                    <th>料號</th>
                                                    <th>批號</th>
                                                    <th>排定資源</th>
                                                    <th>預計開始</th>
                                                    <th>預計結束</th>

                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ JOB["job_name"] }}</td>
                                                    <td>{{ JOB["process_name"] }}</td>
                                                    <td>{{ JOB["jlb_name"] }}</td>
                                                    <td>{{ JOB["qty"] }}</td>
                                                    <td> <a class="btn btn-sm btn-dark" href="#">{{
                                                            JOB["project_name"]}}</a></td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ JOB['product_id']}}">{{JOB["product_name"]}}</a>
                                                    </td>
                                                    <td>{{JOB["lot_nbr"]}}</td>
                                                    <td>
                                                        {% for rid in JOB["resource"]%}
                                                        <a class="btn btn-sm btn-dark"
                                                            href="/resource_schedule?rid={{rid}}">{{JOB["resource"][rid]}}</a>
                                                        {% endfor %}

                                                    </td>
                                                    <td>{{JOB["plan_start_time"]}}</td>
                                                    <td>{{JOB["plan_start_time"]}}</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        
                                    </div>
                                    <div class="row  m-t-20 m-l-10">
                                        <h5>備註:</h5>
                                    
                                        {% if JOB["translated_detail"] %}
                                            {% for plan in JOB["translated_detail"]%}
                                            <p>opens:
                                                <span class="badge badge-dark f-12">
                                                    {{plan["opens"]}}</span>
                                            </p>
                                            <p>同時作業:

                                                {% for pj_tup in plan["同時作業"] %}

                                                <a class="badge badge-info f-16"
                                                                href="/job_detail/{{pj_tup[0]}}">{{pj_tup[1]}}</a>
                                                {% endfor%}
                                            </p>
                                            {% endfor%}
                                        {% else %}
                                            {% if JOB["detail"] %}
                                            <p class="col-12">
                                                {{ JOB["detail"]}}
                                            </p>
                                            {% endif%}
                                        {% endif%}
                                        
                                    </div>
                                    <!-- <form method="POST" style="display: inline-block;">
                                        <input type="hidden" name="split" value="SPLIT" />
                                        <div class="form-group">
                                            <h6><label>拆批 : </label></h6>

                                            <input type="text" class="form-control" placeholder="數量" name="num">
                                        </div>
                                    </form> -->

                                </div>

                                <!-- [ Modal ] start -->

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">工作完成</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form method="POST">
                                                <input type="hidden" name="pause" value="COMPLETE" />
                                                <div class="modal-body">


                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">良品數</label>
                                                        <input type="number" class="form-control" id="good-qty"
                                                            name="good-qty">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">不良品數</label>
                                                        <input type="number" class="form-control" id="ng-qty"
                                                            name="bad-qty" value=0>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認回報</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModal2Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModal2Label">工作完成</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form method="POST">
                                                <input type="hidden" name="end" value="COMPLETE" />
                                                <div class="modal-body">


                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">良品數</label>
                                                        <input type="number" class="form-control" id="good-qty"
                                                            name="good-qty">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">不良品數</label>
                                                        <input type="number" class="form-control" id="ng-qty"
                                                            name="bad-qty" value=0>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認回報</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">異常回報</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form class="was-validated" method="POST">
                                                <div class="modal-body">

                                                    <input type="hidden" name="errorReport" value="REPORT" />
                                                    <div class="form-group">
                                                        <select class="custom-select" required name="custom-select">
                                                            <option value="">異常原因</option>
                                                            {% for error_group in ERROR_TABLE %}
                                                            <optgroup label="{{error_group}}">
                                                                {%for eid in ERROR_TABLE[error_group] %}
                                                                <option value="{{ERROR_TABLE[error_group][eid]}}">
                                                                    {{eid}} {{ERROR_TABLE[error_group][eid]}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                            {% endfor %}

                                                        </select>
                                                        <div class="invalid-feedback">請點選異常原因</div>
                                                    </div>

                                                    <!-- <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                            </div> -->

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認回報</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="clearModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">異常排除</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form method="POST" class="was-validated">
                                                <input type="hidden" name="errorResume" value="Resume" />
                                                <div class="modal-body">
                                                    <div class="tasks-widget">
                                                        {% for error in JOB['ongoing_error'] %}
                                                        <div class="to-do-list mb-3">
                                                            <div class="d-inline-block">
                                                                <label
                                                                    class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="customCheck{{loop.index}}"
                                                                        name="error_check_box{{loop.index}}"
                                                                        value="{{error}}">
                                                                    <span
                                                                        class="custom-control-label text-danger">{{error}}</span>
                                                                </label>
                                                            </div>
                                                            <div class="float-right"><a
                                                                    onclick="delete_todo({{loop.index}});" href="#!"
                                                                    class="delete_todolist"><i
                                                                        class="far fa-trash-alt"></i></a></div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- [ Modal ] end -->

                                <div class="card-block">
                                    <div>
                                        <!-- <h5>物料清單</h5>
                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>物料名稱</th>
                                                        <th>數量</th>
                                                        <th>狀態</th>
                                                        <th>動作</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">
                                                    <tr>
                                                        <td>1</td>
                                                        <td>P10-B</td>
                                                        <td>20</td>
                                                        <td><span class="badge badge-success f-12">已到站</span></td>
                                                        <td>
                                                            <a class="btn btn-sm btn-outline-secondary" href="#"
                                                                role="button">回報到站</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <br> -->


                                        <h5>執行回報</h5>
                                        <div>
                                            <div class="table-responsive m-t-20">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr class="text-uppercase">
                                                            <th>#</th>
                                                            <th>動作</th>
                                                            <th>時間</th>
                                                            <th>備註</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-muted">
                                                        {% for event in JOB['history'] %}
                                                        <tr>
                                                            <td>{{loop.index}}</td>
                                                            <td>{{event['event_type']}}</td>
                                                            <td>{{event['event_time']}}</td>
                                                            {% if event['event_detail'] %}
                                                            <td>{{event['event_detail']}}</td>
                                                            {%else %}
                                                            <td></td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [ Main Content ] end -->

    {% endblock content %}

    {% block javascripts %}

    <!-- select2 Js -->
    <script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script>

    {% endblock javascripts %}