{% extends "layouts/base.html" %}

{% block title %} Resource Schedule {% endblock %}

{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="/static/assets/js/vendor-all.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row row card-active text-center m-t-20">
                                        <div class="col-3">
                                            <h4>
                                                <a href="#operation_delay">
                                                    {% if DASHBOARD["operation_delay"] > 0 %}
                                                    <span class="text-danger">{{DASHBOARD["operation_delay"]}}</span>
                                                    {% else%}
                                                    <span class="text-muted">{{DASHBOARD["operation_delay"]}}</span>
                                                    {% endif%}
                                                </a>
                                            </h4>
                                            <span class="text-muted">應開始未開始/工作延遲開始</span>
                                        </div>
                                        <div class="col-3">
                                            <h4>
                                                <a href="#time_abnormal">
                                                    {% if DASHBOARD["time_abnormal"] > 0 %}
                                                    <span class="text-danger">{{DASHBOARD["time_abnormal"]}}</span>
                                                    {% else%}
                                                    <span class="text-muted">{{DASHBOARD["time_abnormal"]}}</span>
                                                    {% endif%}
                                                </a>
                                            </h4>
                                            <span class="text-muted">工時異常</span>

                                        </div>
                                        <div class="col-3">
                                            <h4>
                                                <a href="#sequence_abnormal">
                                                    {% if DASHBOARD["sequence_abnormal"] > 0 %}
                                                    <span class="text-danger">{{DASHBOARD["sequence_abnormal"]}}</span>
                                                    {% else%}
                                                    <span class="text-muted">{{DASHBOARD["sequence_abnormal"]}}</span>
                                                    {% endif%}
                                                </a>
                                            </h4>
                                            <span class="text-muted">未按次序</span>
                                        </div>
                                        <div class="col-3">
                                            <h4>
                                                <a href="#abnormal_state">
                                                    {% if DASHBOARD["abnormal_state"] > 0 %}
                                                    <span class="text-danger">{{DASHBOARD["abnormal_state"]}}</span>
                                                    {% else%}
                                                    <span class="text-muted">{{DASHBOARD["abnormal_state"]}}</span>
                                                    {% endif%}
                                                </a>
                                            </h4>
                                            <span class="text-muted">異常回報</span>
                                        </div>



                                    </div>
                                </div>
                                {% if DASHBOARD["operation_delay"] > 0 %}
                                <div class="card-block task-data" id="operation_delay">
                                    <h4>應開始未開始</h4>
                                    <div class="table-responsive form-material">

                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>工單</th>
                                                    <th>料號</th>
                                                    <th>狀態</th>
                                                    <th>製程名稱</th>
                                                    <th>流程</th>
                                                    <th>資源</th>
                                                    <th>異常類型</th>


                                                    <th>異常原因</th>
                                                    <th>異常發生時間</th>


                                                    <th>預計開始時間</th>
                                                    <th>預計結束時間</th>
                                                    <th>實際開始時間</th>
                                                    <th>實際結束時間</th>
                                                </tr>
                                            </thead>
                                            <tbody class="task-page">
                                                {% for key in JOB %}
                                                {% if "operation_delay" in key %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-outline-secondary" href="#">{{
                                                            JOB[key]["project_name"]
                                                            }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ JOB[key]['product_id']}}">
                                                            {{ JOB[key]["product_name"] }}</a>
                                                    </td>
                                                    <td><span class="badge badge-primary f-12">{{ JOB[key]["status"] }}</span></td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/job_detail/{{JOB[key]['jid']}}">
                                                            {{ JOB[key]["job_name"] }}</a></td>
                                                    <td>{{ JOB[key]["job_sequence"] }}</td>
                                                    <td>
                                                        {% for rid in JOB[key]["resource"] %}
                                                        <a class="btn btn-sm btn-dark"
                                                            href="/resource_schedule?rid={{rid}}">{{
                                                            JOB[key]["resource"][rid]}}</a>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ JOB[key]["abnormal"] }}</td>
                                                    {% if 'event_type' in JOB[key] %}
                                                    <td>{{ JOB[key]["event_type"] }}</td>
                                                    <td>{{ JOB[key]["event_start_time"] }}</td>
                                                    {% else %}
                                                    <td></td>
                                                    <td></td>
                                                    {% endif%}

                                                    <td>
                                                        {{ JOB[key]["plan_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["plan_end_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_end_time"] }}
                                                    </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if DASHBOARD["time_abnormal"] > 0 %}
                                <div class="card-block task-data" id="time_abnormal">
                                    <h4>工時異常</h4>
                                    <div class="table-responsive form-material">

                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>工單</th>
                                                    <th>料號</th>
                                                    <th>製程名稱</th>
                                                    <th>流程</th>
                                                    <th>資源</th>
                                                    <th>異常類型</th>


                                                    <th>異常原因</th>
                                                    <th>異常發生時間</th>


                                                    <th>預計開始時間</th>
                                                    <th>預計結束時間</th>
                                                    <th>實際開始時間</th>
                                                    <th>實際結束時間</th>
                                                </tr>
                                            </thead>
                                            <tbody class="task-page">
                                                {% for key in JOB %}
                                                {% if "working_hours_mismatch" in key %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-outline-secondary" href="#">{{
                                                            JOB[key]["project_name"]
                                                            }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ JOB[key]['product_id']}}">
                                                            {{ JOB[key]["product_name"] }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/job_detail/{{JOB[key]['jid']}}">
                                                            {{ JOB[key]["job_name"] }}</a></td>
                                                    <td>{{ JOB[key]["job_sequence"] }}</td>
                                                    <td>
                                                        {% for rid in JOB[key]["resource"] %}
                                                        <a class="btn btn-sm btn-dark"
                                                            href="/resource_schedule?rid={{rid}}">{{
                                                            JOB[key]["resource"][rid]}}</a>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ JOB[key]["abnormal"] }}</td>
                                                    {% if 'event_type' in JOB[key] %}
                                                    <td>{{ JOB[key]["event_type"] }}</td>
                                                    <td>{{ JOB[key]["event_start_time"] }}</td>
                                                    {% else %}
                                                    <td></td>
                                                    <td></td>
                                                    {% endif%}

                                                    <td>
                                                        {{ JOB[key]["plan_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["plan_end_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_end_time"] }}
                                                    </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}

                                {% if DASHBOARD["sequence_abnormal"] > 0 %}
                                <div class="card-block task-data" id="sequence_abnormal">
                                    <h4>未按次序</h4>
                                    <div class="table-responsive form-material">

                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>工單</th>
                                                    <th>料號</th>
                                                    <th>製程名稱</th>
                                                    <th>流程</th>
                                                    <th>資源</th>
                                                    <th>異常類型</th>


                                                    <th>異常原因</th>
                                                    <th>異常發生時間</th>


                                                    <th>預計開始時間</th>
                                                    <th>預計結束時間</th>
                                                    <th>實際開始時間</th>
                                                    <th>實際結束時間</th>
                                                </tr>
                                            </thead>
                                            <tbody class="task-page">
                                                {% for key in JOB %}
                                                {% if "abnormal_sequence" in key %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-outline-secondary" href="#">{{
                                                            JOB[key]["project_name"]
                                                            }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ JOB[key]['product_id']}}">
                                                            {{ JOB[key]["product_name"] }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/job_detail/{{JOB[key]['jid']}}">
                                                            {{ JOB[key]["job_name"] }}</a></td>
                                                    <td>{{ JOB[key]["job_sequence"] }}</td>
                                                    <td>
                                                        {% for rid in JOB[key]["resource"] %}
                                                        <a class="btn btn-sm btn-dark"
                                                            href="/resource_schedule?rid={{rid}}">{{
                                                            JOB[key]["resource"][rid]}}</a>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ JOB[key]["abnormal"] }}</td>
                                                    {% if 'event_type' in JOB[key] %}
                                                    <td>{{ JOB[key]["event_type"] }}</td>
                                                    <td>{{ JOB[key]["event_start_time"] }}</td>
                                                    {% else %}
                                                    <td></td>
                                                    <td></td>
                                                    {% endif%}

                                                    <td>
                                                        {{ JOB[key]["plan_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["plan_end_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_end_time"] }}
                                                    </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                                {% if DASHBOARD["abnormal_state"] > 0 %}
                                <div class="card-block task-data" id="abnormal_state">
                                    <h4>異常回報</h4>
                                    <div class="table-responsive form-material">

                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>工單</th>
                                                    <th>料號</th>
                                                    <th>製程名稱</th>
                                                    <th>流程</th>
                                                    <th>資源</th>
                                                    <th>異常類型</th>


                                                    <th>異常原因</th>
                                                    <th>異常發生時間</th>


                                                    <th>預計開始時間</th>
                                                    <th>預計結束時間</th>
                                                    <th>實際開始時間</th>
                                                    <th>實際結束時間</th>
                                                </tr>
                                            </thead>
                                            <tbody class="task-page">
                                                {% for key in JOB %}
                                                {% if "abnormal_report" in key %}

                                                <tr>
                                                    <td>
                                                        <a class="btn btn-outline-secondary" href="#">{{
                                                            JOB[key]["project_name"]
                                                            }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/product_detail/{{ JOB[key]['product_id']}}">
                                                            {{ JOB[key]["product_name"] }}</a>
                                                    </td>
                                                    <td><a class="btn btn-sm btn-dark"
                                                            href="/job_detail/{{JOB[key]['jid']}}">
                                                            {{ JOB[key]["job_name"] }}</a></td>
                                                    <td>{{ JOB[key]["job_sequence"] }}</td>
                                                    <td>
                                                        {% for rid in JOB[key]["resource"] %}
                                                        <a class="btn btn-sm btn-dark"
                                                            href="/resource_schedule?rid={{rid}}">{{
                                                            JOB[key]["resource"][rid]}}</a>
                                                        {% endfor %}
                                                    </td>
                                                    <td>{{ JOB[key]["abnormal"] }}</td>
                                                    {% if 'event_type' in JOB[key] %}
                                                    <td>{{ JOB[key]["event_type"] }}</td>
                                                    <td>{{ JOB[key]["event_start_time"] }}</td>
                                                    {% else %}
                                                    <td></td>
                                                    <td></td>
                                                    {% endif%}

                                                    <td>
                                                        {{ JOB[key]["plan_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["plan_end_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_start_time"] }}
                                                    </td>
                                                    <td>
                                                        {{ JOB[key]["real_end_time"] }}
                                                    </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {%endif%}

                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->

<script>


    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 2000);
</script>

{% endblock javascripts %}