{% extends "layouts/base.html" %}

{% block title %} Material Shortage {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->

        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>物料管控表</h3>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-hover">
                                                <h6>排程版本</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <optgroup label="最新排程">
                                                                    <option value="1">2020/08/17 16:35</option>
                                                                    <option value="2">2020/08/17 07:55</option>
                                                                    <option value="3">2020/08/16 16:35</option>
                                                                </optgroup>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="table-responsive">
                                                <table class="display table nowrap table-striped table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>物料名稱</th>
                                                            <th>缺料數量</th>
                                                            <th>單位</th>
                                                            <th>備料期</th>
                                                            <th>預計需求日期</th>
                                                            <th>回押交期</th>
                                                            <th>狀態</th>
                                                            <th>動作</th>                                                                                                      
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">
                                                                    <a class="btn btn-sm btn-warning text-dark" href="/work-order-detail.html">P10-B</a>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">20</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/09/05</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="text-danger m-0">2020/09/07</h6>
                                                            </td>
                                                            <td><span class="badge badge-danger f-12">延遲</span></td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調度</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">
                                                                    <a class="btn btn-sm btn-secondary" href="/work-order-detail.html">JP-1007</a>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/20</h6>
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調度</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">
                                                                    <a class="btn btn-sm btn-secondary" href="/work-order-detail.html">CMD-1007</a>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">10</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">PCS</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">5 days</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/22</h6>
                                                            </td>
                                                            <td> 
                                                                <h6 class="m-0">2020/08/21</h6>
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">分析</a>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">調度</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Amchart ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>物料計算 <span class="badge badge-dark f-12"> P10-B</span>
                                                <span class="badge badge-dark f-12"> v2020/08/17 16:35</span></h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400"><i class="feather icon-chevron-left f-18"></i></a>
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">7天</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400"><i class="feather icon-chevron-right f-18"></i></a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>數量</h6>
                                                    <hr>
                                                    <div id="line-stock" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <!-- [ Amchart ] End -->
                                <div class="col-12">
                                    <div class="card User-Activity">
                                        <div class="card-header">
                                            <h5>物料需求 <span class="badge badge-dark f-12"> P10-B</span> 
                                                <span class="badge badge-dark f-12"> v2020/08/17 16:35</span></h5>
                                        </div>
                                        
                                        <div class="card-block pb-0">
                                           
                                            <h6>需求工單</h6>
                                            <hr>
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>工單編號</th>
                                                            <th>工作編號</th>
                                                            <th>需求日期</th>
                                                            <th>預計用量</th>
                                                            <th>可用庫存</th> 
                                                            <th>動作</th> 
                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">MAA2060490</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">JID0000004</h6>
                                                            </td>
                                                            <td>2020/09/03</td>
                                                            <td>50</td>
                                                            <td>50</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">暫停</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">MAA2060489</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">JID0000005</h6>
                                                            </td>
                                                            <td>2020/09/04</td>
                                                            <td>30</td>
                                                            <td>20</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">暫停</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h6 class="m-0">MAA2060491</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="m-0">JID0000006</h6>
                                                            </td>
                                                            <td>2020/09/05</td>
                                                            <td>40</td>
                                                            <td class="text-danger font-weight-bold">-20</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-outline-secondary" href="#" role="button">暫停</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}



    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script src="/static/assets/js/pages/chart-order-slack.js"></script>

    <!-- datatable Js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

<!-- Chart code -->
<script>
    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-slack", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 9.5,
        }, {
            "year": "09/02",
            "value": 8.9,
        }, {
            "year": "09/03",
            "value": 7,
        }, {
            "year": "09/04",
            "value": 2.5,
        }, {
            "year": "09/05",
            "value": 0,
        }, {
            "year": "09/06",
            "value": 0,
        }, {
            "year": "09/07",
            "value": 0,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "MAA2060491",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-stock", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 100,
        }, {
            "year": "09/02",
            "value": 100,
        }, {
            "year": "09/03",
            "value": 50,
        }, {
            "year": "09/04",
            "value": 20,
        }, {
            "year": "09/05",
            "value": -20,
        }, {
            "year": "09/06",
            "value": -65,
        }, {
            "year": "09/07",
            "value": -125,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "P10-B",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });
    // [ Line with Area Chart 2 ] end

</script>

{% endblock javascripts %}
