{% extends "layouts/base.html" %}

{% block title %} Order {% endblock %} 

{% block stylesheets %}

    <!-- Smart Wizard css -->
    <link rel="stylesheet" href="/static/assets/plugins/smart-wizard/css/smart_wizard.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->
                                <div class="col-xl-4 col-md-6 col-sm-12">

                                    <div class="card">
                                        <div class="card-block bg-c-blue">
                                            <div class="counter text-center">
                                                <h4 id="timer" class="text-white m-0"></h4>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工單資訊</h5>
                                        </div>
                                        <div class="card-block task-details">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>工單編號</td>
                                                        <td class="text-right"><span class="float-right"><a class="text-secondary" href="#!"> MAA2060490</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>製品</td>
                                                        <td class="text-right"><span class="float-right"><a class="text-secondary" href="#!"> PN-CTE-0000001</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>數量</td>
                                                        <td class="text-right"><span class="float-right"><a class="text-secondary" href="#!"> 20</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>工單交期</td>
                                                        <td class="text-right">2020-09-09 16:00:00+00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>預計完工</td>
                                                        <td class="text-right">2020-09-07 07:20:00+00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>類別</td>
                                                        <td class="text-right">
                                                            <div class="btn-group">
                                                                <a href="#!" class="text-danger"><i class="fas fa-upload m-r-5"></i> 急件</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>資料更新</td>
                                                        <td class="text-right">2020-08-20 08:25:00+00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                               
                                    <div class="text-center">
                                        <a class="btn btn-rounded btn-outline-warning btn-icon" href="#!" role="button" data-toggle="tooltip" data-placement="top"" title="暫停"><i class="fas fa-pause"></i></a>
                                        <a class="btn btn-rounded btn-outline-danger btn-icon" href="#!" role="button" data-toggle="tooltip" data-placement="top" title="取消"><i class="fas fa-times"></i></a>
                                        <a class="btn btn-rounded btn-outline-primary btn-icon" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="top" title="詳細資料"><i class="fas fa-glasses"></i></a>
                                    </div>
                                    

                                </div>
                                <!-- [ Wizard-Vartical-Left ] start -->
                                <div class="col-xl-8 col-md-6 col-sm-12">
                                    
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工作流程</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="smartwizard-left" class="sw-vertical-left">
                                                <ul>
                                                    <li><a href="#step-l-1">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">1</span>
                                                                <span class="badge badge-dark float-right f-12 text-muted">已完成</span>
                                                            </h6>
                                                            <p class="m-0 f-12">前段工序-1                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-2">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">2</span>
                                                                <span class="badge badge-dark float-right f-12 text-muted">已完成</span>
                                                            </h6>
                                                            <p class="m-0 f-12">前段工序-2
                                                            </p>                                                        
                                                        </a></li>
                                                    <li><a href="#step-l-3">
                                                            <h6>
                                                                <span class="badge badge-primary f-12">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">A組
                                                            </p>  
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">B組
                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">C組
                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">4</span>
                                                            </h6>
                                                            <p class="m-0 f-12">配線
                                                            </p>  
                                                        </a></li>
                                                </ul>
                                                <div>
                                                    <div id="step-l-1">
                                                        <h5>Title Step 1</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    </div>
                                                    <div id="step-l-2">
                                                        <h5>Title Step 2</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text... </p>
                                                    </div>
                                                    <div id="step-l-3">
                                                        <h5>A組 <span class="text-info f-16">成組</span></h5>
                                                        <h6 class="mt-3">排定資源</h6>
                                                        <div class="">
                                                            <button class="btn btn-dark"><i class="feather icon-user m-r-5"> H010</i></button>
                                                        </div>
                                                        <h6 class="mt-3">預計開始: 2020-09-07 08:00:00+00 </h6> 
                                                        <h6 class="mt-3">預計結束: 2020-09-07 12:00:00+00 </h6> 
                                                        <h6 class="mt-3">預計工時: 4.0 (小時) </h6> 

                                                        <hr>
                                                        <p><h6>注意事項 </h6> Job Description. Lorem Ipsum is simply dummy text of the printing. @Lorem Ipsum is simply dummy text of the printing. . .
                                                        <!-- <h6 class="mt-3">關聯單號</h6>
                                                        <div class="">
                                                            <button class="btn btn-dark"><i class="feather icon-link m-r-5"> MAA2060505</i></button>
                                                        </div> -->

                                                        <hr>

                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>物料</th>
                                                                    <th>數量</th>
                                                                    <th class="text-right">狀態</th>
                                                            </thead> 
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <h6 class="m-0">P10-B</h6>
                                                                    </td>
                                                                    <td>
                                                                        <h6 class="m-0">20</h6>
                                                                    </td>
                                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>                                                    
                                                    </div>
                                                    <div id="step-l-4">
                                                        <h5>Title Step 4</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Wizard-Vartical-Left ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Smart Wizard Js -->
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script>

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();
    
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get todays date and time
            var now = new Date().getTime();
    
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
    
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";
    
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

{% endblock javascripts %}
