{% extends "layouts/base.html" %}

{% block title %} 交期預測 {% endblock %}

{% block stylesheets %}

<!-- gridstack css -->
<link rel="stylesheet" href="/static/assets/plugins/gridstack/css/gridstack.min.css">
<!-- gridstack-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/gridstack.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

    <div class="pcoded-wrapper">
        <div class="pcoded-content">
                <div class="pcoded-inner-content">
                        <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- [ Main Content ] start -->
                                    <div class="row">
                                        <!-- [ task-detail ] start -->
        
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 >預測交期</h3>
                                                    <a class="btn btn-rounded btn-outline-primary float-right"
                                                    href="ml_new_order.html" role="button">新增製品</a>
                                                </div>
                                                
                                                <div class="card-block"> 
                                                
                                                <div class="m-b-20">
                                                    <div class="table-responsive m-t-20">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr class="text-uppercase">
                                                                    <th>狀態</th>
                                                                    <th>製品</th>
                                                                    <th>數量</th>
                                                                    <th>製品類型</th>
                                                                    <th>製品總類</th>
                                                                    <th>預估工時</th>
                                                                    <th>預計交期</th>
                                                                    <th>更新時間</th>
                                                                    <th></th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-muted">
                                                                <tr>
                                                                    <td><span class="badge badge-primary f-12">已估時</span>
                                                                    </td>
                                                                    <td><a class="btn btn-sm btn-dark"
                                                                            href="/job-detail.html">PA0000001</a></td>
                                                                    <td>10</td>
                                                                    <td>樣品</td>
                                                                    
                                                                    <td>5G</td>
                                                                    <td><a href="#">142.5 hr </a></td>
                                                                    <td>2020-12-25 11:50</td>
                                                                    <td>2020-11-18 16:50</td>
                                                                    <td><a class="btn btn-rounded btn-outline-primary float-right"
                                                                        href="/ml_edit_order.html" role="button">編輯</a></td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="badge badge-secondary f-12">正在估時</span>
                                                                    </td>
                                                                    <td><a class="btn btn-sm btn-dark"
                                                                            href="/job-detail.html">PA0000002</a></td>
                                                                            <td>1,000</td>
                                                                            <td>量產</td>
                                                                    
                                                                    <td>5G</td>
                                                                    <td>pending</td>
                                                                    <td>pending</td>
                                                                    <td>2020-11-18 16:50</td>
                                                                    <td><a class="btn btn-rounded btn-outline-primary float-right"
                                                                        href="/ml_edit_order.html" role="button">編輯</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span class="badge badge-secondary f-12">正在估時</span>
                                                                    </td>
                                                                    <td><a class="btn btn-sm btn-dark"
                                                                            href="/job-detail.html">PA0000003</a></td>
                                                                            <td>50</td>
                                                                            <td>急件</td>
                                                                    
                                                                    <td>醫療</td>
                                                                    <td>pending</td>
                                                                    <td>pending</td>
                                                                    <td>2020-11-18 16:50</td>
                                                                    <td><a class="btn btn-rounded btn-outline-primary float-right"
                                                                        href="/ml_edit_order.html" role="button">編輯</a></td>
                                                                    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                    </div>
        
                                </div>
                                <!-- [ Main Content ] end -->
                            </div>
                        </div>
                </div>
        </div>
    </div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- gridstack Js -->
<script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
<script src="/static/assets/plugins/gridstack/js/lodash.min.js"></script>
<script src="/static/assets/plugins/gridstack/js/gridstack.min.js"></script>
<script src="/static/assets/plugins/gridstack/js/gridstack.jQueryUI.min.js"></script>
<script src="/static/assets/js/pages/ac-gridstack.js"></script>

{% endblock javascripts %}