{% extends "layouts/base.html" %}

{% block title %} Planning {% endblock %} 

{% block stylesheets %}

    <!-- Smart Wizard css -->
    <link rel="stylesheet" href="/static/assets/plugins/smart-wizard/css/smart_wizard.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->
                                <div class="col-xl-4 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工單資訊</h5>
                                        </div>
                                        <div class="card-block task-details">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td><i class="feather icon-folder m-r-5"></i> 工單編號</td>
                                                        <td class="text-right"><span class="float-right"><a class="text-secondary" href="#!"> MAA2060429</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="far fa-calendar-alt m-r-5"></i> 更新日期</td>
                                                        <td class="text-right">2020/08/20 08:25</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="feather icon-info m-r-5"></i> 優先度</td>
                                                        <td class="text-right">
                                                            <div class="btn-group">
                                                                <a href="#!" class="text-danger"><i class="fas fa-upload m-r-5"></i> 急件</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="far fa-calendar m-r-5"></i> 工單交期</td>
                                                        <td class="text-right">2020-08-20 16:00:00+00</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="far fa-calendar-alt m-r-5"></i> 預計完工</td>
                                                        <td class="text-right">2020-08-21 07:20:00+00</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fas fa-sync-alt m-r-5"></i> 排程版次</td>
                                                        <td class="text-right">20200817-1635</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right">
                                                <a class="btn btn-outline-primary btn-icon" href="#!" role="button" data-toggle="tooltip" data-placement="bottom" title="暫停"><i class="fas fa-pause"></i></a>
                                                <a class="btn btn-outline-primary btn-icon" href="#!" role="button" data-toggle="tooltip" data-placement="bottom" title="取消"><i class="fas fa-times"></i></a>
                                                <a class="btn btn-outline-primary btn-icon" href="#!" role="button" data-toggle="tooltip" data-placement="bottom" title="詳細資料"><i class="fas fa-search"></i></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ Wizard-Vartical-Left ] start -->
                                <div class="col-xl-8 col-md-6 col-sm-12">
                                    
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>工序流程</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="smartwizard-left" class="sw-vertical-left">
                                                <ul>
                                                    <li><a href="#step-l-1">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">1</span>
                                                                <span class="badge badge-dark float-right f-12 text-muted">已完成</span>
                                                            </h6>
                                                            <p class="m-0 f-12">前段工序-1                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-2">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">2</span>
                                                                <span class="badge badge-dark float-right f-12 text-muted">已完成</span>
                                                            </h6>
                                                            <p class="m-0 f-12">前段工序-2
                                                            </p>                                                        
                                                        </a></li>
                                                    <li><a href="#step-l-3">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">A組
                                                            </p>  
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">B組
                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">3</span>
                                                                <span class="badge badge-dark float-right f-12 text-c-yellow">進行中</span>
                                                            </h6>
                                                            <p class="m-0 f-12">C組
                                                            </p>
                                                        </a></li>
                                                    <li><a href="#step-l-4">
                                                            <h6>
                                                                <span class="badge badge-dark f-12 text-muted">4</span>
                                                            </h6>
                                                            <p class="m-0 f-12">配線
                                                            </p>  
                                                        </a></li>
                                                </ul>
                                                <div>
                                                    <div id="step-l-1">
                                                        <h5>Title Step 1</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    </div>
                                                    <div id="step-l-2">
                                                        <h5>Title Step 2</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    </div>
                                                    <div id="step-l-3">
                                                        <h5>A組 <span class="text-info f-16">成組</span></h5>
                                                        <hr>
                                                        <p><h6>工作指示 </h6> Job Description. Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">注意事項</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p> 
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td>預估工時</td>
                                                                    <td class="text-right"><span class="float-right"><a class="text-secondary" href="#!"> MAA2060429</a></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="far fa-calendar-alt m-r-5"></i> 更新日期:</td>
                                                                    <td class="text-right">2020/08/20 08:25</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="feather icon-info m-r-5"></i> 優先度:</td>
                                                                    <td class="text-right">
                                                                        <div class="btn-group">
                                                                            <a href="#!" class="text-danger"><i class="fas fa-upload m-r-5"></i> 急件</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="far fa-calendar m-r-5"></i> 工單交期:</td>
                                                                    <td class="text-right">2020-08-20 16:00:00+00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="far fa-calendar-alt m-r-5"></i> 預計完工:</td>
                                                                    <td class="text-right">2020-08-21 07:20:00+00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="fas fa-sync-alt m-r-5"></i> 排程版次:</td>
                                                                    <td class="text-right">20200817-1635</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>                                                      
                                                    </div>
                                                    <div id="step-l-4">
                                                        <h5>Title Step 4</h5>
                                                        <hr>
                                                        <h6>Sub title 1</h6>
                                                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text.</p>
                                                        <h6 class="mt-3">Sub title 2</h6>
                                                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Wizard-Vartical-Left ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Smart Wizard Js -->
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script>

{% endblock javascripts %}
