{% extends "layouts/base.html" %}

{% block title %} 加班申請表 {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>加班申請表</h3>
                                            <button type="submit" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>

                                            <br>
                                            <p class="font-weight-bold">人員編號： H001</p>

                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>開始時間</th>
                                                            <th>結束時間</th>
                                                            <th>備註</th>
                                                            <th>動作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>
                                                                <div class="form-group form-primary mb-0">
                                                                    <!-- <input type="date" class="form-control" /> -->
                                                                    <input type="datetime-local" class="form-control">
                                                                    <span class="form-bar"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-group form-primary mb-0">
                                                                    <!-- <input type="date" class="form-control" /> -->
                                                                    <input type="datetime-local" class="form-control" />
                                                                    <span class="form-bar"></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control">
                                                                <span class="form-bar"></span>
                                                            </td>
                                                            <td class="float-right">
                                                                <button class="btn btn-sm btn-outline-success float-right"
                                                                type="submit">儲存</button>
                                                                <button class="btn btn-sm btn-outline-danger float-right">刪除</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
