{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card Active-visitor">
                                    <div class="card-header">
                                        <h3>工作負荷
                                            <a href="create-order.html"><button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                        </h3>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">站點查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="站點">
                                                                        <option value="1">所有站點</option>
                                                                        <option value="2">黃光</option>
                                                                        <option value="3">電鍍</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xl-6">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">日期查詢</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="工作日期">
                                                                        <option value="1">昨日</option>
                                                                        <option value="2">當日</option>
                                                                        <option value="3">明日</option>
                                                                        <option value="4">選擇日期...</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block task-data">
                                        <div class="table-responsive form-material">
                                            <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>名稱</th>
                                                        <th>類型</th>
                                                        <th>工作日期</th>
                                                        <th>負荷率(%)</th>
                                                        <th>工作技能</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">H001</a>
                                                        </td>
                                                        <td>
                                                            人員
                                                        </td>
                                                        <td>2020-09-10</td>
                                                        <td>
                                                            <span class="badge badge-warning f-12">35%</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-info font-weight-light f-12">刷磨</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark" href="/order-data.html">M001</a>
                                                        </td>
                                                        <td>
                                                            機台
                                                        </td>
                                                        <td>2020-09-10</td>
                                                        <td>
                                                            <span class="badge badge-success f-12">65%</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-info font-weight-light f-12">一銅</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
    </script>

{% endblock javascripts %}