{% extends "layouts/base.html" %}

{% block title %} Performance Analytics {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>有效資源</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">日</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">週</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">月</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>個數</h6>
                                                    <hr>
                                                    <div id="line-resource" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                工作負荷
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right" data-toggle="modal" data-target="#alertModal">匯出明細</button>
                                            </h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">日</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">週</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">月</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>個數</h6>
                                                    <hr>
                                                    <div id="resource-loading" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- [ Amchart ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>
                                                落差分析
                                                <button type="button" class="btn btn-rounded btn-outline-secondary float-right" data-toggle="modal" data-target="#alertModal">匯出明細</button>
                                            </h3>
                                        </div>
                                        <div class="card-block">
                                            <div class="p-2 text-center"> 
                                                <a class="btn btn-round bg-white text-uppercase mx-3 px-4 f-w-400">日</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">週</a>
                                                <a class="text-white text-uppercase mx-3 px-4 f-w-400">月</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <h6>件數</h6>
                                                    <hr>
                                                    <div id="line-stock" class="lineAreaDashboard" style="height:300px;"></div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                                <!-- [ Amchart ] End -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}



    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script src="/static/assets/js/pages/chart-order-slack.js"></script>

    <!-- datatable Js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/js/pages/tbl-datatable-outsourcing.js"></script>

<!-- Chart code -->
<script>

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-stock", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 52,
            "value1": 22,
            "value2": 12,
            "value3": 18,
        }, {
            "year": "09/02",
            "value": 46,
            "value1": 20,
            "value2": 10,
            "value3": 16,
        }, {
            "year": "09/03",
            "value": 38,
            "value1": 18,
            "value2": 8,
            "value3": 12,
        }, {
            "year": "09/04",
            "value": 34,
            "value1": 16,
            "value2": 8,
            "value3": 10,
        }, {
            "year": "09/05",
            "value": 32,
            "value1": 17,
            "value2": 7,
            "value3": 8,
        }, {
            "year": "09/06",
            "value": 33,
            "value1": 20,
            "value2": 6,
            "value3": 7,
        }, {
            "year": "09/07",
            "value": 30,
            "value1": 19,
            "value2": 5,
            "value3": 6,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "工作異常",
        },{
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value1",
            "title": "工時異常",
        },{
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value2",
            "title": "未按次序",
        },{
            "id": "g4",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
            "bullet": "round",
            "lineColor": "#ff0000",
            "lineThickness": 2,
            "negativeLineColor": "#ff0000",
            "valueField": "value3",
            "title": "異常回報",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });

    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("line-resource", {
    "type": "serial",
    "theme": "light",
    "marginTop": 10,
    "marginRight": 0,
    "dataProvider": [{
        "year": "09/01",
        "value": 52,
    }, {
        "year": "09/02",
        "value": 50,
    }, {
        "year": "09/03",
        "value": 54,
    }, {
        "year": "09/04",
        "value": 55,
    }, {
        "year": "09/05",
        "value": 45,
    }, {
        "year": "09/06",
        "value": 40,
    }, {
        "year": "09/07",
        "value": 55,
    }],
    "valueAxes": [{
        "axisAlpha": 0,
        "position": "left"
    }],
    "graphs": [{
        "id": "g1",
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
        "bullet": "round",
        "lineColor": "#10adf5",
        "lineThickness": 2,
        "negativeLineColor": "#10adf5",
        "valueField": "value",
        "title": "有效資源數",
    }],
    "chartCursor": {
        "cursorAlpha": 0,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "valueLineAlpha": 0.3,
        "fullWidth": true
    },
    "categoryField": "year",
    "categoryAxis": {
        "minorGridAlpha": 0,
        "minorGridEnabled": true,
        "gridAlpha": 0,
        "axisAlpha": 0,
        "lineAlpha": 0
    },
    "legend": {
        "useGraphSettings": true,
        "position": "top",
        "labelText": "[[title]]",
        "fontSize": 14,
        "horizontalGap": 20
    },
});

    // [ Line with Area Chart 2 ] end

    // [ Line with Area Chart 2 ] start
    var chart = AmCharts.makeChart("resource-loading", {
    "type": "serial",
    "theme": "light",
    "marginTop": 10,
    "marginRight": 0,
    "dataProvider": [{
            "year": "09/01",
            "value": 52,
            "value1": 22,
            "value2": 12,
            "value3": 18,
        }, {
            "year": "09/02",
            "value": 46,
            "value1": 20,
            "value2": 10,
            "value3": 16,
        }, {
            "year": "09/03",
            "value": 38,
            "value1": 18,
            "value2": 8,
            "value3": 12,
        }, {
            "year": "09/04",
            "value": 34,
            "value1": 16,
            "value2": 8,
            "value3": 10,
        }, {
            "year": "09/05",
            "value": 29,
            "value1": 14,
            "value2": 7,
            "value3": 8,
        }, {
            "year": "09/06",
            "value": 27,
            "value1": 14,
            "value2": 6,
            "value3": 7,
        }, {
            "year": "09/07",
            "value": 40,
            "value1": 19,
            "value2": 5,
            "value3": 16,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
        "id": "g1",
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
        "bullet": "round",
        "lineColor": "#10adf5",
        "lineThickness": 2,
        "negativeLineColor": "#10adf5",
        "valueField": "value",
        "title": "有效資源數",
        }, {
            "id": "g2",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
            "bullet": "round",
            "lineColor": "#1de9b6",
            "lineThickness": 2,
            "negativeLineColor": "#1de9b6",
            "valueField": "value1",
            "title": "負荷40%-80%",
        },{
            "id": "g3",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
            "bullet": "round",
            "lineColor": "#fdda08",
            "lineThickness": 2,
            "negativeLineColor": "#fdda08",
            "valueField": "value2",
            "title": "負荷<=40%",
        },{
            "id": "g4",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
            "bullet": "round",
            "lineColor": "#ff0000",
            "lineThickness": 2,
            "negativeLineColor": "#ff0000",
            "valueField": "value3",
            "title": "負荷>=80%",
        }],
    "chartCursor": {
        "cursorAlpha": 0,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "valueLineAlpha": 0.3,
        "fullWidth": true
    },
    "categoryField": "year",
    "categoryAxis": {
        "minorGridAlpha": 0,
        "minorGridEnabled": true,
        "gridAlpha": 0,
        "axisAlpha": 0,
        "lineAlpha": 0
    },
    "legend": {
        "useGraphSettings": true,
        "position": "top",
        "labelText": "[[title]]",
        "fontSize": 14,
        "horizontalGap": 20
    },
});

    // [ Line with Area Chart 2 ] end
</script>

{% endblock javascripts %}
