{% extends "layouts/base.html" %}

{% block title %} Process Detail {% endblock %} 

{% block stylesheets %}

    <!-- Smart Wizard css -->

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->

                                <div class="col-12"> 
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>裁線 <span class="badge badge-dark f-14">PID00000001</span>
                                            <a class="btn btn-rounded btn-outline-secondary disabled btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="刪除"><i class="fas fa-times"></i></a>
                                            <a class="btn btn-rounded btn-outline-warning btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="編輯"><i class="feather icon-edit-2"></i></a>
                                            <a class="btn btn-rounded btn-outline-primary btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="查看原始資料"><i class="feather icon-link"></i></a>
                                            </h3>
                                            <p class="text-muted">最後更新時間：2020-08-17 16:00</p>
                                        </div>
                                            <div class="card-block">
                                        
                                                <table class="table table-hover">
                                                    <h5>製程類型</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="In-House">
                                                                        <option value="1">零工型</option>
                                                                        <option value="2">流線型</option>
                                                                        <option value="3">批次型</option>
                                                                    </optgroup>
                                                                    <optgroup label="Out-Sourcing">
                                                                        <option value="4">外包</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br>

                                                <table class="table table-hover">
                                                    <h5>製程規則</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="無規則">
                                                                        <option value="1">無</option>
                                                                    </optgroup>
                                                                    <optgroup label="一般規則">
                                                                        <option value="2">數值規則</option>
                                                                        <option value="3">類別規則</option>
                                                                    </optgroup>
                                                                    <optgroup label="特殊規則(API)">
                                                                        <option value="4" disabled>表列規則</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br>

                                                <div>
                                                    <h5>需求物料類別
                                                        <a class="btn btn-rounded btn-outline-primary btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="新增物料類別"><i class="feather icon-plus"></i></a>
                                                    </h5>
                                                    <br>
                                                </div>
                                                <div>
                                  
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>物料類別</th>
                                                                <th>可用物料</th>
                                                                <th>動作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td>1</td>
                                                                <td>線材</td>
                                                                <td>P10-B</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="刪除物料類別">刪除</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>

                                                <div>
                                                    <h5>工作群組
                                                        <a class="btn btn-rounded btn-outline-primary btn-icon float-right" href="/mfg-order-data.html" role="button" data-toggle="tooltip" data-placement="bottom" title="新增物料類別"><i class="feather icon-plus"></i></a>
                                                    </h5>
                                                    <br>
                                                </div>
                                                <div>
                                                <div class="table-responsive m-t-20">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>資源類別</th>
                                                                <th>可用資源</th>
                                                                <th>動作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-muted">
                                                            <tr>
                                                                <td>1 (主要)</td>
                                                                <td>機器</td>
                                                                <td>M001</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="刪除資源類別">刪除</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>人員</td>
                                                                <td>H001</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-secondary" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="刪除資源類別">刪除</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

    <!-- <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();
    
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get todays date and time
            var now = new Date().getTime();
    
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
    
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>"+days + "</b>days : <b>" +  hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";
    
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script> -->

{% endblock javascripts %}
