{% extends "layouts/base.html" %}

{% block title %} Project Schedule {% endblock %}

{% block stylesheets %}
<!-- pnotify css -->
<link rel="stylesheet" href="/static/assets/plugins/pnotify/css/pnotify.custom.min.css">
<!-- pnotify-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/pnotify.css">

<!-- Smart Wizard css -->

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>{{PROJECT["project_name"]}}
                                        <span class="badge badge-primary f-12"> {{PROJECT["status"]}}</span>
                                    </h3>
                                    <br>
                                    <p>工單交期：{{PROJECT["due"]}}</p>
                                    {% if PROJECT["product_list"] | length ==0 %}
                                    <p>料號:
                                        <button
                                                id="addProductBtn"
                                                style="margin-left: 20px"
                                                class="btn btn-sm btn-danger"
                                                data-toggle="modal"
                                                data-target="#addProduct"
                                                value="{{ PROJECT_ID }}"
                                        >
                                            新增料號
                                        </button>
                                        {% else %}

                                    <p>料號: {% for PRDID in PROJECT["product_list"] %}
                                        <a class="badge badge-info">{{PROJECT["product_list"][PRDID]["product_name"]}}_{{PROJECT["product_list"][PRDID]["lot_nbr"]}}</a>
                                    {%endfor %}    
                                    </p>
                                    {%endif %}
                                    <!-- <p class="text-muted">最後更新時間：2020-09-03 14:19</p>
                                    <p class="text-muted">製品：PN-CTE-0000001</p> -->
                                </div>
                                {% for PRDID in PROJECT["product_list"] %}
                                <div class="card-block">
                                    
                                    <h5>
                                        <a class="btn btn-outline-primary"> {{ PROJECT["product_list"][PRDID]["product_name"] }}_{{ PROJECT["product_list"][PRDID]["lot_nbr"] }}</a>
                                        工作流程
                                        <button class="btn btn-sm btn-outline-primary float-right" onclick="addRow()">新增工序</button>
                                        <button class="btn btn-sm btn-outline-success float-right"
                                                onclick="store(
                                                    {{ [PROJECT["product_list"][PRDID]["product_id"], PROJECT["product_list"][PRDID]["project_id"]] }}
                                        )">儲存資料</button>

                                    </h5>
                                    <div class="m-b-20">
                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped" id="projectAdd">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <th>製品流程</th>
                                                        <th>站點名稱</th>
                                                        <th>製程名稱</th>
                                                        <th>生產數量</th>
                                                        <th>內制/外包</th>
                                                        <th>預估工時(分)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="addTable" class="text-muted">
                                                <tr>
                                                    <td>
                                                        <input
                                                                value="1"
                                                                type="number"
                                                                class="text ui-widget-content ui-corner-all form-control"
                                                                onkeyup="value=value.replace(/[^\d]/g,'') ">
                                                    </td>
                                                    <td>
                                                        <select class="js-example-basic-single form-control"
                                                                name="process_name" id="process_name" required>
                                                            {% for process_id in PROCESS_LIST %}
                                                            <option value={{PROCESS_LIST[process_id]}}>
                                                                {{PROCESS_LIST[process_id]}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="js-example-basic-single form-control"
                                                                name="jlb_name" id="jlb_name" required>
                                                            {% for jlb_name in JLB_LIST %}
                                                            <option value={{jlb_name}}>
                                                                {{jlb_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input
                                                                type="number"
                                                                class="text ui-widget-content ui-corner-all form-control"
                                                                onkeyup="value=value.replace(/[^\d]/g,'') "
                                                                min=1
                                                                value="1"

                                                        >
                                                    </td>
                                                    <td>
                                                        <select class="js-example-basic-single form-control"
                                                                style="height: 50px"
                                                                required>
                                                            <option value="in-house">
                                                                內製
                                                            </option>
                                                            <option value="out-sourcing">
                                                                外包
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="number" name="est_time" id="est_time"
                                                               class="text ui-widget-content ui-corner-all form-control"
                                                               onkeyup="value=value.replace(/[^\d]/g,'') "
                                                               min=1
                                                               value="1"
                                                        >
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProduct" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增料號</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form style="padding: 20px 20px 0px" id="staffAddProduct" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >料號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="product_name" id="product_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >批號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="lot_nbr" id="lot_nbr" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddProductBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>


    {% endblock content %}

    {% block javascripts %}
    <script src="/static/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="/static/assets/plugins/pnotify/js/notify-event.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script type="text/javascript">
        setTimeout(function () {
            $('#simpletable').DataTable();
        }, 200);
    </script>

    <script>
        $("#addProductBtn").click(function() {
            project_id = $("#addProductBtn").val();
        });
        function addRow() {
            let tr = $("#projectAdd tr").eq(1).clone();
            tr.appendTo('#projectAdd');
        }
        function store(id) {
            let tr_length = $("#projectAdd tr").length;
            let table = document.getElementById('projectAdd');
            const formData = []


            for(let i = 0; i < tr_length; i++){
                if( i >= 1 ){
                    const job_sequence = table.rows[i].cells[0].children[0].value;
                    const process_name = table.rows[i].cells[1].children[0].value;
                    const jlb_name = table.rows[i].cells[2].children[0].value;
                    const qty = table.rows[i].cells[3].children[0].value;
                    const sourcing = table.rows[i].cells[4].children[0].value;
                    const est_time = table.rows[i].cells[5].children[0].value;

                    formData.push(
                        {
                            product_id : id[0],
                            project_id : id[1],
                            job_sequence,
                            process_name,
                            jlb_name,
                            qty,
                            sourcing,
                            est_time,
                            job_name: ''
                        }
                    )


                }
            }
            $.ajax({
                url:'http://'+document.domain+'/api/edit_product',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    window.location.assign('../product_detail/' + id[0]);
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        }
        $('#staffAddProductBtn').click(function(e){
            e.preventDefault();
            const form = document.forms['staffAddProduct'];
            // get value
            const product_name = form.elements.product_name.value;
            const lot_nbr = form.elements.lot_nbr.value;

            let errorMessage = [];

            if( product_name === "") {
                errorMessage.push("料號不得為空")
            }

            if( errorMessage.length > 0) {
                alert(errorMessage.toString());
                return
            }

            let formData = {
                product_name,
                lot_nbr,
                project_id,

            }
            $.ajax({
                url:'http://'+document.domain+'/api/get_product',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    location.reload();
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });
    </script>

    {% endblock javascripts %}
