{% extends "layouts/base.html" %}

{% block title %} Project Schedule {% endblock %}

{% block stylesheets %}
<!-- pnotify css -->
<link rel="stylesheet" href="/static/assets/plugins/pnotify/css/pnotify.custom.min.css">
<!-- pnotify-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/pnotify.css">

<!-- Smart Wizard css -->

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>{{PROJECT["project_name"]}}
                                        <span class="badge badge-primary f-12"> {{PROJECT["status"]}}</span>
                                        <!-- <a class="btn btn-rounded btn-outline-danger btn-icon float-right"
                                            href="/mfg-order-data.html" role="button" data-toggle="tooltip"
                                            data-placement="bottom" title="取消"><i class="fas fa-times"></i></a>
                                        <a class="btn btn-rounded btn-outline-warning btn-icon float-right"
                                            href="/mfg-order-data.html" role="button" data-toggle="tooltip"
                                            data-placement="bottom" title="暫停"><i
                                                class="feather icon-pause"></i></a>
                                        <a class="btn btn-rounded btn-outline-warning btn-icon float-right"
                                            href="/mfg-order-data.html" role="button" data-toggle="tooltip"
                                            data-placement="bottom" title="編輯"><i
                                                class="feather icon-edit-2"></i></a>
                                        <a class="btn btn-rounded btn-outline-primary btn-icon float-right"
                                            href="/mfg-order-data.html" role="button" data-toggle="tooltip"
                                            data-placement="bottom" title="詳細資料"><i
                                                class="fas fa-glasses"></i></a> -->
                                    </h3>
                                    <br>
                                    <p>工單交期：{{PROJECT["due"]}}</p>
                                    {% if PROJECT["product_list"] | length ==0 %}
                                    <p>料號:
                                        <button
                                                id="addProductBtn"
                                                style="margin-left: 20px"
                                                class="btn btn-sm btn-danger"
                                                data-toggle="modal"
                                                data-target="#addProduct"
                                                value="{{ PROJECT_ID }}"
                                        >
                                            新增料號
                                        </button>
                                        {% else %}

                                    <p>料號: {% for PRDID in PROJECT["product_list"] %}
                                        <a class="badge badge-info">{{PROJECT["product_list"][PRDID]["product_name"]}}_{{PROJECT["product_list"][PRDID]["lot_nbr"]}}</a>
                                    {%endfor %}    
                                    </p>
                                    {%endif %}
                                    <!-- <p class="text-muted">最後更新時間：2020-09-03 14:19</p>
                                    <p class="text-muted">製品：PN-CTE-0000001</p> -->
                                </div>
                                {% for PRDID in PROJECT["product_list"] %}
                                <div class="card-block">
                                    
                                    <h5>
                                        <a class="btn btn-outline-primary" href="/product_detail/{{PRDID}}"> {{ PROJECT["product_list"][PRDID]["product_name"] }}_{{ PROJECT["product_list"][PRDID]["lot_nbr"] }}</a>
                                        工作流程 </h5>
                                    <div class="m-b-20">
                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr class="text-uppercase">
                                                        <th class="text-right">備註</th>
                                                        <th>製品流程</th>
                                                        <th>狀態</th>
                                                        <th>現在站點</th>
                                                        <th>製程名稱</th>
                                                        <th>工作名稱</th>
                                                        <th>批號</th>
                                                        <th>製程數量</th>
                                                        <th>排定資源</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">


                                                    {% for jid in PROJECT["product_list"][PRDID]["job_list"] %}
                                                    <tr>

                                                        <td>
                                                            {% if PROJECT["product_list"][PRDID]["job_list"][jid]["translated_detail"] %}
                                                            {% for plan in
                                                            PROJECT["product_list"][PRDID]["job_list"][jid]["translated_detail"] %}
                                                            {{ loop.index }}

                                                            <span class="badge badge-dark f-12">opens:
                                                                {{plan["opens"]}}</span>
                                                            {% for pj_tup in plan["同時作業"] %}
                                                            <a class="badge badge-info f-12"
                                                                href="/job_detail/{{pj_tup[0]}}">{{pj_tup[1]}}</a>
                                                            {% endfor%}
                                                            {% endfor %}
                                                            {% else %}
                                                            {% if PROJECT["product_list"][PRDID]["job_list"][jid]["detail"] %}
                                                            <a class="btn btn-sm btn-warning f-16"
                                                                href="/job_detail/{{jid}}">更多資訊</a>
                                                            {% endif %}
                                                            {% endif %}
                                                        </td>

                                                        <td>{{PROJECT["product_list"][PRDID]["job_list"][jid]["job_sequence"]}}</td>
                                                        <td>
                                                            {% if PROJECT["product_list"][PRDID]["job_list"][jid]["status"]%}
                                                            <span class="badge badge-primary f-12">{{
                                                                PROJECT["product_list"][PRDID]["job_list"][jid]["status"] }}</span>
                                                            {% else %}
                                                            <span></span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{PROJECT["product_list"][PRDID]["current_loc"]}}</td>
                                                        <td>{{ PROJECT["product_list"][PRDID]["job_list"][jid]["jlb_name"] }}</td>

                                                        <td><a class="btn btn-sm btn-dark"
                                                                href="/job_detail/{{jid}}">{{PROJECT["product_list"][PRDID]["job_list"][jid]["job_name"]}}
                                                        </td>



                                                        <td>{{PROJECT["product_list"][PRDID]["lot_nbr"]}}</td>
                                                        <td>{{ PROJECT["product_list"][PRDID]["job_list"][jid]["qty"] }}</td>

                                                        <!-- <td id="plan_start_time_{{loop.index}}"></td>
                                                    <td id="plan_end_time_{{loop.index}}"></td> -->
                                                        <td> {% for rid in PROJECT["product_list"][PRDID]["job_list"][jid]["resource"] %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{PROJECT["product_list"][PRDID]["job_list"][jid]["resource"][rid]}}</a>
                                                            {% endfor %}
                                                        </td>
                                                        {% if PROJECT["product_list"][PRDID]["job_list"][jid]["plan_start_time"] %}
                                                        <td>{{PROJECT["product_list"][PRDID]["job_list"][jid]["plan_start_time"] }}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if PROJECT["product_list"][PRDID]["job_list"][jid]["plan_end_time"] %}

                                                        <td>{{PROJECT["product_list"][PRDID]["job_list"][jid]["plan_end_time"] }}</td>

                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}


                                                        {% if PROJECT["product_list"][PRDID]["job_list"][jid]["real_start_time"] %}
                                                        <td>{{PROJECT["product_list"][PRDID]["job_list"][jid]["real_start_time"] }}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if PROJECT["product_list"][PRDID]["job_list"][jid]["real_end_time"] %}

                                                        <td>{{PROJECT["product_list"][PRDID]["job_list"][jid]["real_end_time"] }}</td>

                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}
                                                        <td></td>
                                                        <!-- <td><a class="btn btn-sm btn-dark"
                                                        href="/extend_job/{{jobID}}">展開工序</a></td> -->

                                                    </tr>
                                                    {% endfor%}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProduct" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增料號</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form id="staffAddProduct" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >料號:</label>
                            </th>
                            <td>
                                <input type="text" name="product_name" id="product_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >批號:</label>
                            </th>
                            <td>
                                <input type="text" name="lot_nbr" id="lot_nbr" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddProductBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>

    <!-- [ Main Content ] end -->

    {% endblock content %}

    {% block javascripts %}

    <!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->
    <!-- pnotify Js -->
    <script src="/static/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="/static/assets/plugins/pnotify/js/notify-event.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script type="text/javascript">
        setTimeout(function () {
            $('#simpletable').DataTable();
        }, 200);
    </script>

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
        var project_id ='';
        $("#addProductBtn").click(function() {
            project_id = $("#addProductBtn").val();
            console.log(project_id)
        });
        $('#staffAddProductBtn').click(function(e){
            e.preventDefault();
            const form = document.forms['staffAddProduct'];
            // get value
            const product_name = form.elements.product_name.value;
            const lot_nbr = form.elements.lot_nbr.value;

            let formData = {
                product_name,
                lot_nbr,
                project_id,

            }
            console.log(formData)
            $.ajax({
                url:'http://'+document.domain+'/api/get_product',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    console.log(data)
                    swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    location.reload();
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });
    </script>

    {% endblock javascripts %}
