{% extends "layouts/base.html" %}

{% block title %} Resource Schedule {% endblock %}

{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="/static/assets/js/vendor-all.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<style>
    .testTd {}
</style>

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-detail ] start -->

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>
                                        {{RESOURCE["resource_name"]}}
                                        <span class="badge badge-dark f-16">{{RESOURCE["resource_type"]}}</span>
                                        <button type="button" class="btn btn-rounded btn-outline-danger float-right"
                                            data-toggle="modal" data-target="#alertModal">異常回報</button>
                                        {% if RESOURCE["ongoing_error"] | length > 0%}
                                        <button type="button" class="btn btn-rounded btn-outline-success float-right"
                                            data-toggle="modal" data-target="#clearModal">異常排除</button>
                                        {% endif%}


                                    </h3>

                                    <br>

                                    <p class="text-muted f-18">
                                        <!-- <span>工作中心：                                                                
                                                    <a class="btn btn-sm btn-dark" href="/work-center.html">前段</a> 
                                                </span> -->
                                        <span>工作時段：
                                            <a class="btn btn-sm btn-dark f-16"
                                                href="#">{{RESOURCE["workinghours"]}}</a>
                                        </span>
                                        <span>工作日：
                                            <a class="btn btn-sm btn-dark f-16" href="#">{{RESOURCE["workingdays"]}}</a>
                                        </span>
                                    </p>
                                    <p>
                                        <span>製程能力：
                                            {% for job in RESOURCE["job_name"] %}
                                            <a class="btn btn-sm btn-dark f-16" href="#">{{job}}</a>
                                            {% endfor%}
                                        </span>
                                    </p>
                                    <!-- <p class="text-muted">排程更新時間：2020-09-03 14:19</p> -->
                                </div>

                                <div class="card-block">
                                    <h4>工作清單</h4>
                                    {% if RESOURCE is defined %}
                                    <div class="float-right">
                                        <form action="/export_resource_schedule_csv" method="POST">
                                            <input type="hidden" name="data" value="{{ RESOURCE['jid_list'] }}" />
                                            <button type="submit"
                                                class="btn btn-sm btn-round btn-outline-success">匯出Excel</button>
                                        </form>
                                        {% else %}
                                        <a href="#"><button type="button"
                                                class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                        {% endif %}
                                    </div>
                                    <div class="m-b-20">

                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr class="text-uppercase f-18">
                                                        <th class="text-right">備註</th>
                                                        <th>排程順序</th>
                                                        <th>狀態</th>
                                                        <th>現在站點</th>
                                                        <th>工作名稱</th>
                                                        <th>工單/製令</th>
                                                        <th>製品料號</th>
                                                        <th>批號</th>
                                                        <th>製程名稱</th>
                                                        <th>製程數量</th>
                                                        <th>類別</th>
                                                        <th>預計開始</th>
                                                        <th>預計結束</th>
                                                        <th>實際開始</th>
                                                        <th>實際結束</th>

                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted f-16">
                                                    {% for jid in RESOURCE["jid_list"] %}
                                                    <tr>
                                                        <td>
                                                            {% if RESOURCE["jid_list"][jid]["translated_detail"] %}
                                                                {% for plan in
                                                                RESOURCE["jid_list"][jid]["translated_detail"] %}
                                                                    {{ loop.index }}

                                                                    <span class="badge badge-dark f-12">opens:
                                                                        {{plan["opens"]}}</span>
                                                                    {% for pj_tup in plan["同時作業"] %}
                                                                    <a class="badge badge-info f-12"
                                                                    href="/job_detail/{{pj_tup[0]}}">{{pj_tup[1]}}</a> 
                                                                    {% endfor%}
                                                                {% endfor %}
                                                            {% else %}
                                                            {% if RESOURCE["jid_list"][jid]["detail"] %}
                                                               <a class="btn btn-sm btn-warning f-16"
                                                                href="/job_detail/{{jid}}">更多資訊</a> 
                                                            {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <!--備註-->
                                                        <td>{{ loop.index }}</td>

                                                        <td>
                                                            {% if RESOURCE["jid_list"][jid]["status"] %}

                                                            {% if RESOURCE["jid_list"][jid]["status"] == "pause" %}
                                                            <span
                                                                class="badge badge-danger f-16">{{RESOURCE["jid_list"][jid]["status"]}}</span>
                                                            {% elif RESOURCE["jid_list"][jid]["status"] == "finished" %}
                                                            <span
                                                                class="badge badge-dark f-16">{{RESOURCE["jid_list"][jid]["status"]}}</span>
                                                            {% else %}
                                                            <span
                                                                class="badge badge-primary f-16">{{RESOURCE["jid_list"][jid]["status"]}}</span>
                                                            {% endif %}
                                                            {% else %}
                                                            <span></span>
                                                            {% endif%}
                                                        </td>
                                                        <td>{{ RESOURCE["jid_list"][jid]["current_loc"] }}</td>


                                                        <td><a class="btn btn-sm btn-dark f-16"
                                                                href="/job_detail/{{jid}}">{{
                                                                RESOURCE["jid_list"][jid]["job_name"] }}</a></td>
                                                        <td>{{ RESOURCE["jid_list"][jid]["project_name"] }}</td>

                                                        <td><a class="btn btn-sm btn-dark f-16"
                                                                href="/product_detail/{{ RESOURCE['jid_list'][jid]['product_id']}}">{{
                                                                RESOURCE["jid_list"][jid]["product_name"]}}</td>
                                                        <td>{{ RESOURCE["jid_list"][jid]["lot_nbr"]}}</td>
                                                        <td>

                                                            {{ RESOURCE["jid_list"][jid]["jlb_name"] }}

                                                        </td>
                                                        <td>{{ RESOURCE["jid_list"][jid]["qty"] }}</td>
                                                        <td>{{ RESOURCE["jid_list"][jid]["project_type"] }}</td>


                                                        {% if RESOURCE["jid_list"][jid]["plan_start_time"] %}
                                                        <td>{{RESOURCE["jid_list"][jid]["plan_start_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if RESOURCE["jid_list"][jid]["plan_end_time"] %}
                                                        <td>{{RESOURCE["jid_list"][jid]["plan_end_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if RESOURCE["jid_list"][jid]["real_start_time"] %}
                                                        <td>{{RESOURCE["jid_list"][jid]["real_start_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}

                                                        {% if RESOURCE["jid_list"][jid]["real_end_time"] %}
                                                        <td>{{RESOURCE["jid_list"][jid]["real_end_time"][0:16]}}</td>
                                                        {% else %}
                                                        <td></td>
                                                        {% endif %}


                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <h4>執行回報</h4>

                                    <div>
                                        <div class="table-responsive m-t-20">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr class="text-uppercase f-18">
                                                        <th>#</th>
                                                        <th>動作</th>
                                                        <th>時間</th>
                                                        <th>備註</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">
                                                    {% for event in RESOURCE['history'] %}
                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td>{{event['event_type']}}</td>
                                                        <td>{{event['event_time']}}</td>
                                                        {% if event['event_detail'] %}
                                                        <td>{{event['event_detail']}}</td>
                                                        {%else %}
                                                        <td></td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- [ Modal ] start -->



                                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">異常回報</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form method="POST" class="was-validated">
                                                <input type="hidden" name="errorReport" value="REPORT" />
                                                <div class="modal-body">

                                                    <br>

                                                    <div class="form-group">

                                                        <select class="custom-select" required name="custom-select">
                                                            <option value="">異常原因</option>
                                                            {% for error_group in ERROR_TABLE %}
                                                            <optgroup label="{{error_group}}">
                                                                {%for eid in ERROR_TABLE[error_group] %}
                                                                <option value="{{ERROR_TABLE[error_group][eid]}}">
                                                                    {{eid}} {{ERROR_TABLE[error_group][eid]}}</option>
                                                                {% endfor %}
                                                            </optgroup>

                                                            {% endfor %}
                                                        </select>

                                                        <div class="invalid-feedback">請點選異常原因</div>
                                                    </div>


                                                    <!-- <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                                            </div> -->

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認回報</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="clearModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">異常排除</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <form method="POST" class="was-validated">
                                                <input type="hidden" name="errorResume" value="Resume" />
                                                <div class="modal-body">

                                                    <br>
                                                    <div class="tasks-widget">
                                                        {% for error in RESOURCE['ongoing_error'] %}
                                                        <div class="to-do-list mb-3">
                                                            <div class="d-inline-block">
                                                                <label
                                                                    class="check-task custom-control custom-checkbox d-flex justify-content-center">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="customCheck{{loop.index}}"
                                                                        name="error_check_box{{loop.index}}"
                                                                        value="{{error}}">
                                                                    <span
                                                                        class="custom-control-label text-danger">{{error}}</span>
                                                                </label>
                                                            </div>
                                                            <div class="float-right"><a
                                                                    onclick="delete_todo({{loop.index}});" href="#!"
                                                                    class="delete_todolist"><i
                                                                        class="far fa-trash-alt"></i></a></div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">確認</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Modal ] end -->
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->

<script>


    // Set the date we're counting down to
    var d = new Date();
    d.setDate(d.getDate() + 5);
    var countDownDate = new Date(d).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours + "</b>h : <b>" +
            minutes + "</b>m : <b>" + seconds + "</b>s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 2000);
</script>

{% endblock javascripts %}