{% extends "layouts/base.html" %}

{% block title %} Resources {% endblock %} 

{% block stylesheets %}

    <!-- data tables css -->
    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">


{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-list ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>資源列表
                                                <button type="button" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                                <button type="button" class="btn btn-rounded btn-outline-primary float-right">新增</button>
                                            </h3>
                                        </div>
                                        <div class="card-block task-data">
                                            <div class="table-responsive form-material">
                                                <table id="simpletable" class="table task-list-table table-striped table-bordered nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>編號</th>
                                                            <th>名稱</th>
                                                            <th>類別</th>  
                                                            <th>製程能力</th>  
                                                            <!-- <th>工作型式</th>                                                          
                                                            <th>工作時段</th>
                                                            <th>工作日</th> -->
                                                            <th>狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/resource-detail.html">M001</a></td>
                                                            <td>自動裁線機</td>
                                                            <td>機器</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/add-process.html">+</a>
                                                                <a class="btn btn-sm btn-dark" href="/process-detail.html">裁線</a>
                                                            </td>
                                                            <!-- <td>零工</td>  
                                                            <td><a class="btn btn-sm btn-dark" href="/process-detail.html">裁線</a></td> 
                                                            <td>24小時</td>
                                                            <td>A組機台行事曆</td> -->
                                                            <td>
                                                                <span class="badge badge-success f-12">可使用</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/resource-detail.html">M002</a></td>
                                                            <td>壓合機</td>
                                                            <td>機器</td>
                                                            <td>
                                                                
                                                            </td>
                                                            <!-- <td>零工</td>  
                                                            <td></td> 
                                                            <td></td>
                                                            <td></td> -->
                                                            <td>
                                                                <span class="badge badge-warning f-12">建立中</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-sm btn-dark" href="/resource-detail.html">H001</a></td>
                                                            <td>作業人員001</td>
                                                            <td>人員</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/add-process.html">+</a>
                                                                <a class="btn btn-sm btn-dark" href="/process-detail.html">裁線</a>
                                                            </td>
                                                            <!-- <td>零工</td>  
                                                            <td><a class="btn btn-sm btn-dark" href="/process-detail.html">裁線</a></td> 
                                                            <td>24小時</td>
                                                            <td>A組機台行事曆</td> -->
                                                            <td>
                                                                <span class="badge badge-success f-12">可使用</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- [ task-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 600);
    </script>

{% endblock javascripts %}
