<div class="card-block col-sm-4">
    <div class="card project-task bg-dark">
        <div class="card-block text-center">
            <div class="row align-items-center justify-content-center">
                <h4 class="f-18 font-weight-light">M0085 熱壓機</h4>
            </div>
            <p class="badge badge-light f-16">
                <a class="text-dark" href="/project-schedule.html">F454210-2D0</a>
            </p>
            <div class="progress">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width:80%;height:6px;"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="m-b-0 text-right f-12">生管交期<span class="badge badge-dark f-12">
                    2020/10/30 16:30</span></p>
            <br>
            <a class="badge badge-secondary f-16 font-weight-normal float-center" href="/resource-schedule.html">
                工作排程清單</a>
            <div class="text-center">
                <div class="col-md-3 text-white text-center">
                    <a class="badge badge-success f-10" href="/work-order-detail.html">D504B57-1D0</a>
                    <span class="f-10">9/10</span>
                </div>
                <div class="col-md-3 text-white text-center">
                    <span class="badge badge-dark f-10">C844G42-2C0</span>
                    <span class="f-10">9/12</span>
                </div>
                <div class="col-md-3 text-white text-center">
                    <span class="badge badge-dark f-10">H624050-2D0</span>
                    <span class="f-10">9/13</span>
                </div>




            </div>
            <!--
                <h6 class=button class="btn btn-primary" class="text-left" type="button"
                    data-toggle="collapse" data-target="#collapseExample1"
                    aria-expanded="false" aria-controls="collapseExample1">待處理工單
                    <div class="collapse" id="collapseExample1">
                        
                    </div>

                </h6>
            -->
        </div>
    </div>
</div>
<div class="card-block col-sm-4">
    <div class="card project-task bg-dark">
        <div class="card-block text-center">
            <div class="row align-items-center justify-content-center">
                <h4 class="f-18 font-weight-light">M0087 熱壓機</h4>
            </div>
            <p class="badge badge-light f-16">
                <a class="text-dark" href="/project-schedule.html">D236382-2D0</a>
            </p>
            <div class="progress">
                <div class="progress-bar progress-c-theme" role="progressbar" style="width:80%;height:6px;"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                    2020/09/10 12:30</span></p>
            <br>
            <a class="badge badge-secondary f-16 font-weight-normal float-center" href="/resource-schedule.html">
                工作排程清單</a>
            <div class="text-center">
                <div class="col-md-3 text-white text-center">
                    <a class="badge badge-success f-10" href="/work-order-detail.html">D234467-2D0</a>
                    <span class="f-10">9/10</span>
                </div>
                <div class="col-md-3 text-white text-center">
                    <span class="badge badge-dark f-10">C694140-4H0</span>
                    <span class="f-10">9/11</span>
                </div>
                <div class="col-md-3 text-white text-center">
                    <span class="badge badge-dark f-10">M044515-1D0</span>
                    <span class="f-10">9/12</span>
                </div>




            </div>
            <!--
                    <h6 class=button class="btn btn-primary" class="text-left" type="button"
                        data-toggle="collapse" data-target="#collapseExample1"
                        aria-expanded="false" aria-controls="collapseExample1">待處理工單
                        <div class="collapse" id="collapseExample1">
                            
                        </div>
    
                    </h6>
                -->
        </div>
    </div>
</div>