{% extends "layouts/base.html" %}

{% block title %} Resources {% endblock %}

{% block stylesheets %}

<!-- data tables css -->
<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">
<!-- select2 css -->
<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">
<!-- multi-select css -->
<link rel="stylesheet" href="/static/assets/plugins/multi-select/css/multi-select.css">
<!-- Bootstrap datetimepicker css -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">

<!-- jQuery timepicker -->
<link rel="stylesheet" href="/static/assets/plugins/jquery-timepicker-master/jquery.timepicker.css">


{% endblock stylesheets %}

{% block content %}
<script src="/static/assets/js/vendor-all.min.js"></script>
<!-- [ Main Content ] start -->

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ task-list ] start -->
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>資源列表
                                        <button type="button"
                                                class="btn btn-lg btn-rounded btn-outline-success float-right"
                                                data-toggle="modal"
                                                data-target="#addTest">
                                            新增資源
                                        </button>

                                        <!-- {% if RESOURCE is defined %}
                                        <form action="/export_resource_csv" method="POST">
                                            <input type="hidden" name="data" value="{{ RESOURCE }}" />


                                            <button type="submit" class="btn btn-rounded btn-outline-success float-right">匯出Excel</button>
                                        </form>
                                        {% else %}
                                        <a href="#"><button type="button"
                                                class="btn btn-rounded btn-outline-success float-right">匯出Excel</button></a>
                                        {% endif %}

                                        <a href="/create-resource.html"><button type="button"
                                                class="btn btn-rounded btn-outline-primary float-right">新增</button></a> -->
                                    </h3>
                                </div>
                                <!-- <form> -->

                                <div class="card-block task-data">
                                    <h5>人員
<!--                                        <button class="btn btn-rounded btn-outline-success float-right">新增</button>-->
                                    </h5>
                                    <div class="table-responsive form-material">
                                        <table id="simpletable"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <!-- <th>資源狀態</th> -->
                                                    <!-- <th>狀態</th> -->

                                                    <!-- <th>資源名稱/編號</th> -->
                                                    <th>人員編號</th>


                                                    <!-- <th>類別</th> -->
                                                    <!-- <th>站點</th> -->
                                                    <th>製程能力(技能)</th>
                                                    <th>多工作業</th>

                                                    <th>行事曆</th>
                                                    <th>工作時段</th>
<!--                                                    <th>排程鎖定</th>-->
                                                    <th>動作</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for rid in RESOURCE %}
                                                {% if RESOURCE[rid]["resource_type"] == "operator" %}
                                                <tr>
                                                    <form id="{{rid}}" method="POST">

                                                        <!-- <td>

                                                            <span
                                                                class="badge badge-success f-12">{{RESOURCE[rid]["status"]}}</span>
                                                            
                                                        </td> -->

                                                        <td><a class="btn btn-sm btn-dark"
                                                               name="resource_name"
                                                                href="/resource_schedule?rid={{rid}}">
                                                            {{ RESOURCE[rid]["resource_name"] }}</a>
                                                            <span
                                                                class="badge badge-success f-12">{{RESOURCE[rid]["status"]}}</span>
                                                        </td>

                                                        <!-- <td>
                                                            {% for prc in RESOURCE[rid]["process"] %}
                                                            <a class="btn btn-sm btn-dark" href="#">{{prc}}</a>
                                                            {% endfor %}
                                                        </td> -->

                                                        <td>

<!--                                                            <a class="btn btn-sm btn-dark" onclick="addBtn()">+</a>-->
                                                            {% for job in RESOURCE[rid]["job_name"] %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/process-detail.html">{{job}}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="allow_overlapped_capacity">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['allow_overlapped_capacity']}}">
                                                                    {{RESOURCE[rid]['allow_overlapped_capacity']}}
                                                                </option>
                                                                {% for i in range(25) %}
                                                                <option value="{{i}}">{{i}}</option>
                                                                {% endfor %}>
                                                                <option value="unlimited">無限產能</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="calendar_name">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['workingdays']}}">
                                                                    {{RESOURCE[rid]["workingdays"]}}</option>
                                                                {% for wdid in WORKINGDAYS_TABLE %}
                                                                <option value="{{WORKINGDAYS_TABLE[wdid]['calendar_name']}}">{{WORKINGDAYS_TABLE[wdid]['calendar_name']}}</option>
                                                                {% endfor %}
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="hours_name">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['workinghours'][0]}}">
                                                                    {{RESOURCE[rid]["workinghours"][1]}}</option>
                                                                {% for whid in WORKINGHOURS_TABLE %}
                                                                <option
                                                                    value="{{WORKINGHOURS_TABLE[whid]['hours_name']}}">
                                                                    {{WORKINGHOURS_TABLE[whid]["working_hours"]}}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <button
                                                                    type="button"
                                                                    class="btn btn-sm btn-outline-primary float-right addProductBtn"
                                                                    value="{{RESOURCE[rid]['resource_name']}}"
                                                                    onclick="updateBtn({{rid}}.id)"
                                                            >修改</button>
<!--                                                            <button-->
<!--                                                                    type="button"-->
<!--                                                                    class="btn btn-sm btn-outline-danger float-right"-->
<!--                                                            >刪除</button>-->
                                                        </td>
                                                        <!-- <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="lock_time">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['lock_time']}}">
                                                                    {{RESOURCE[rid]['lock_time']}}小時</option>
                                                                {% for i in range(25) %}
                                                                <option value="{{i}}">{{i}}小時</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-sm btn-outline-success float-right"
                                                                type="submit" value="{{rid}}" name="rid">儲存</button>
                                                            <button
                                                                class="btn btn-sm btn-outline-primary float-right">加班</button>
                                                            <button
                                                                class="btn btn-sm btn-outline-primary float-right">請假</button>

                                                        </td> -->
                                                    </form>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="card-block task-data">
                                    <h5>機台</h5>
                                    <div class="table-responsive form-material">
                                        <table id="simpletable2"
                                            class="table task-list-table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <!-- <th>狀態</th> -->
                                                    <th>機台編號</th>

                                                    <!-- <th>類別</th> -->
                                                    <!-- <th>站點</th> -->
                                                    <th>製程能力</th>
                                                    <th>多工作業</th>

                                                    <th>行事曆</th>
                                                    <th>工作時段</th>
                                                    <th>排程鎖定</th>
                                                    <th class="float-right">動作</th>

                                                </tr>
                                            </thead>
                                            <tbody class="task-page">
                                                {% for rid in RESOURCE %}
                                                {% if RESOURCE[rid]["resource_type"] != "operator" %}
                                                <tr>
                                                    <form id="{{rid}}" method="POST">

                                                        <!-- <td>

                                                            <span
                                                                class="badge badge-success f-12">{{RESOURCE[rid]["status"]}}</span>
                                                            
                                                        </td> -->

                                                        <td><a class="btn btn-sm btn-dark"
                                                                href="/resource_schedule?rid={{rid}}">{{
                                                                RESOURCE[rid]["resource_name"] }}</a>
                                                            <span
                                                                class="badge badge-success f-12">{{RESOURCE[rid]["status"]}}</span>
                                                            <span class="badge badge-pill badge-success f-12"></span>
                                                            {% if RESOURCE[rid]["resource_type"] == "virtual"%}
                                                            <span class="badge badge-warning"> 資料不全</span>

                                                            {% endif %}
                                                        </td>

                                                        <!-- <td>
                                                            {% for prc in RESOURCE[rid]["process"] %}
                                                            <a class="btn btn-sm btn-dark" href="#">{{prc}}</a>
                                                            {% endfor %}
                                                        </td> -->

                                                        <td>

                                                            <!-- <a class="btn btn-sm btn-dark"
                                                                href="/add-process.html">+</a> -->
                                                            {% for job in RESOURCE[rid]["job_name"] %}
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/process-detail.html">{{job}}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="allow_overlapped_capacity">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['allow_overlapped_capacity']}}">
                                                                    {{RESOURCE[rid]['allow_overlapped_capacity']}}
                                                                </option>
                                                                {% for i in range(25) %}
                                                                <option value="{{i}}">{{i}}</option>
                                                                {% endfor %}>
                                                                <option value="unlimited">無限產能</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="calendar_name">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['workingdays']}}">
                                                                    {{RESOURCE[rid]["workingdays"]}}</option>
                                                                <option value="排休">排休</option>
                                                                <option value="CTE_calendar">CTE_calendar</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="hours_name">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['workinghours'][0]}}">
                                                                    {{RESOURCE[rid]["workinghours"][1]}}</option>
                                                                {% for whid in WORKINGHOURS_TABLE %}
                                                                <option
                                                                    value="{{WORKINGHOURS_TABLE[whid]['hours_name']}}">
                                                                    {{WORKINGHOURS_TABLE[whid]["working_hours"]}}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="btn btn-sm btn-muted text-white"
                                                                name="lock_time">
                                                                <option hidden disabled selected
                                                                    value="{{RESOURCE[rid]['lock_time']}}">
                                                                    {{RESOURCE[rid]['lock_time']}}小時</option>
                                                                {% for i in range(25) %}
                                                                <option value="{{i}}">{{i}}小時</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-outline-success float-right"
                                                                type="submit" value="{{rid}}" name="rid">儲存</button>
                                                            <button
                                                                    type="button"
                                                                    class="btn btn-sm btn-outline-primary float-right addProductBtn"
                                                                    value="{{RESOURCE[rid]['resource_name']}}"
                                                                    onclick="updateBtn({{rid}}.id)"
                                                            >修改</button>
                                                            <button
                                                                class="btn btn-sm btn-outline-warning float-right" data-toggle="modal" data-target="#dayOffModal">預約</button>
                                                        </td>
                                                    </form>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ task-list ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                    <div class="modal fade" id="dayOffModal" tabindex="-1" role="dialog"
                        aria-labelledby="dayOffModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="dayOffModalLabel">當月請假</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="false">&times;</span></button>
                                </div>
                                <form>
                                    <div class="modal-body">

                                        <select class="js-example-basic-multiple col-sm-12" multiple="multiple"
                                            id="day_off_2" name="day_off">
                                        </select>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                                            確認</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="overTimeModal" tabindex="-1" role="dialog"
                        aria-labelledby="overTimeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="overTimeModalLabel">加班</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="false">&times;</span></button>
                                </div>
                                <form>
                                    <div class="modal-body">


                                        <span class="col-6">
                                            當天加班至
                                            <input id="modifyShiftEnd" type="text" class="custom-select"
                                                name="modifyShiftEnd">
                                        </span>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                                            確認</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addTest" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">新增資源</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form style="padding: 20px 20px 0px" id="staffAdd" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <th>
                                <label class="label-font" >資源類型:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="resource_type">
                                    <option value="operator">
                                        人員
                                    </option>
                                    <option value="machine">
                                        機台
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">編號:</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="resource_name" id="resource_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">製程能力(技能):</label>
                            </th>
                            <td>
                                <input class="form-control" type="text" name="job_name" id="job_name" class="text ui-widget-content ui-corner-all">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">多工作業:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="allow_overlapped">
                                    {% for i in range(25) %}
                                    {% if i >= 1 %}
                                    <option min="1" value="{{i}}">{{i}}</option>
                                    {% endif %}>
                                    {% endfor %}>
                                    <option value="unlimited">無限產能</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font">行事曆:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="calendar_name">
                                    {% for wdid in WORKINGDAYS_TABLE %}
                                    <option value="{{WORKINGDAYS_TABLE[wdid]['calendar_name']}}">{{WORKINGDAYS_TABLE[wdid]['calendar_name']}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="label-font" >工作時段:</label>
                            </th>
                            <td>
                                <select class="btn btn-sm btn-muted text-white"
                                        name="hours_name">
                                    {% for whid in WORKINGHOURS_TABLE %}
                                    <option
                                            value="{{WORKINGHOURS_TABLE[whid]['hours_name']}}">
                                        {{WORKINGHOURS_TABLE[whid]["working_hours"]}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button id="staffAddBtn" class="btn btn-success float-right" type="submit" data-dismiss="modal">儲存</button>
                </fieldset>
            </form>

        </div>
    </div>
</div>





<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}
<style>
</style>


<script src="/static/assets/plugins/jquery-timepicker-master/jquery.timepicker.min.js"></script>

<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- select2 Js -->
<script src="/static/assets/plugins/select2/js/select2.full.min.js"></script>

<!-- multi-select Js -->
<script src="/static/assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="/static/assets/plugins/multi-select/js/jquery.multi-select.js"></script>

<!-- form-select-custom Js -->
<script src="/static/assets/js/pages/form-select-custom.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<style>

    span{
        font-size:100%;
    }
</style>

<script type="text/javascript">
    setTimeout(function () {
         $('#simpletable').DataTable(
            {
                "pageLength": 20,
                "columnDefs": [
                    { "width": "40%", "targets": 8 }
                ]
            }
        );
        $('#simpletable2').DataTable(
            {
                "pageLength": 100
            }
        );
        $("#dialog_div").dialog({

            autoOpen: false,

            show: "blind",

            hide: "explode",

            buttons: {

                "Ok": function() { $(this).dialog("close"); },

                "Cancel": function() { $(this).dialog("close"); }

            }

        });

        $("#opener").click(function() {

            $("#dialog_div").dialog("open");

            return false;

        });
    }, 600);
    function updateBtn(rid){
        const form = document.forms[rid];
        const allow_overlapped_capacity = form.elements.allow_overlapped_capacity.value;
        const calendar_name = form.elements.calendar_name.value;
        const hours_name = form.elements.hours_name.value;

        let formData = {
            allow_overlapped_capacity: parseInt(allow_overlapped_capacity),
            calendar_name,
            hours_name
        }
        swal.fire({
            title: '確定要更新嗎?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '更新',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url:'http://'+document.domain+'/api/get_resource/'+ rid,
                    type : "PUT",
                    data : JSON.stringify(formData),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success : function(data)
                    {
                        swal.fire({
                            icon: 'success',
                            title:'修改成功',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.reload();
                    },error: function(data)
                    {
                        swal.fire({
                            icon: 'error',
                            title: '錯誤' + data.status,
                            text: data.statusText,
                        })
                    }
                })
            }
        })
    }
    $(document).ready(function () {

        // var project_id ='';
        // $(".addProductBtn").click(function() {
        //     project_id = $(".addProductBtn").val();
        //
        // });
        // console.log(project_id)
        $('#staffAddBtn').click(function(e){
            e.preventDefault();
            const form = document.forms['staffAdd'];
            const resource_name = form.elements.resource_name.value;
            const job_name = form.elements.job_name.value;
            const allow_overlapped = form.elements.allow_overlapped.value;
            const calendar_name = form.elements.calendar_name.value;
            const hours_name = form.elements.hours_name.value;
            const resource_type = form.elements.resource_type.value;

            let errorMessage = [];

            if( resource_name === "") {
                errorMessage.push("編號不得為空")
            }

            if( job_name === "") {
                errorMessage.push("製程能力(技能)不得為空")
            }

            if( errorMessage.length > 0) {
                alert(errorMessage.toString());
                return
            }

            let formData = {
                resource_name,
                job_name,
                allow_overlapped,
                calendar_name,
                hours_name,
                resource_type
            }
            console.log(JSON.stringify(formData))
            $.ajax({
                url:'http://'+document.domain+'/api/get_resource',
                type : "POST",
                data : JSON.stringify(formData),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success : function(data)
                {
                    swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    location.reload();
                },error: function(data)
                {
                    swal.fire({
                        icon: 'error',
                        title: '錯誤' + data.status,
                        text: data.statusText,
                    })
                }
            })
        });

    });
    function addBtn(){
        console.log('Test')
    }
</script>
<script>
    /**
* @param {int} The month number, 0 based
* @param {int} The year, not zero based, required to account for leap years
* @return {Date[]} List with date objects for each day of the month
*/

    function getDaysInMonth(rid) {
        var TodayDate = new Date();
        var m = TodayDate.getMonth();
        var y = TodayDate.getFullYear();


        var date = new Date(y, m, 1);
        var days = [];
        while (date.getMonth() === m) {
            var d = new Date(date);
            const day = new Intl.DateTimeFormat('en', { weekday: 'short' }).format(d);
            const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d);
            const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d);
            const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d);
            var text = `${day} ${mo}-${da}-${ye}`
            days.push(text);
            date.setDate(date.getDate() + 1);
        }


        for (var i = 0; i < days.length; i++) {
            options += '<option value="' + days[i] + '">' + days[i] + '</option>';
        };
        //console.log(options)
        var str_id = '#day_off_' + rid;
        $(str_id).html(options);
    }

    function getThisMonth() {
        var TodayDate = new Date();
        var m = TodayDate.getMonth();
        const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(m);
        var text = `${mo}`
        console.log(text)
        return text

    }


</script>


{% endblock javascripts %}
