{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>排程比較
                                    </h3>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <table class="table table-hover">
                                                <h5 class="text-center">所有排程版本</h5>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <form method="POST">
                                                                <select class="js-example-basic-single form-control"
                                                                    onchange='this.form.submit()'
                                                                    name="scheduled_time_option" required
                                                                    name="scheduled_time_option">
                                                                    {% if OPTION1 is defined %}
                                                                    <option hidden disabled selected value>{{OPTION1}}</option>
                                                                    {% else %}
                                                                    <option hidden disabled selected value>排程版本</option>
                                                                    {% endif %}
                                                                    <optgroup label="依時間選擇">
                                                                        {% for time in TIMEFORM["scheduled"] %}
                                                                        <option value="{{time}}">{{time}}</option>
                                                                        {% endfor %}
                                                                    </optgroup>
                                                                </select>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {% if SCHEDULED_RESULT1 is defined %}
                                            <div class="card-block task-data">
                                                <div class="row text-center">
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="/delay_orders">{{SCHEDULED_RESULT1["scheduled_count"]}}</a>
                                                        </h4>
                                                        <span class="text-muted">排程工單數</span>
                                                        <hr>
                                                    </div>
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="/delay_orders"><span class="text-danger">
                                                                {{ SCHEDULED_RESULT1["delay"] | length}}</span></a>
                                                        </h4>
                                                        <span class="text-muted">逾時工單數</span>
                                                        <hr>
                                                    </div>
                                                   
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="#">{{SCHEDULED_RESULT1["delivery_rate"]}}</a>
                                                        </h4>
                                                        <span class="text-muted">準交率</span>
                                                        
                                                    </div>
                                                    <!-- <div class="col-12">
                                                            <h4><span class="text-danger">28.75</span></h4>
                                                            <span class="text-muted">總逾時數(小時)</span>
                                                            <hr>
                                                        </div> -->
                                                </div>
                                            </div>
                                            {% if SCHEDULED_RESULT1["delay"] | length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>逾時工單</th>
                                                        <th>工單交期</th>
                                                        <th>預計完成</th>
                                                        <th>逾時數</th>
                                                        <th>類型</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    {% for pid in SCHEDULED_RESULT1["delay"] %}

                                                    <tr>



                                                        <td>
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/work-order-detail.html" target="_blank">
                                                                {{ SCHEDULED_RESULT1["delay"][pid]["project_name"] }}</a>
                                                        </td>
                                                        <td>{{SCHEDULED_RESULT1["delay"][pid]["due"]}}</td>
                                                        <td class="text-danger">
                                                            {{SCHEDULED_RESULT1["delay"][pid]["plan_end_time"]}}</td>
                                                        <td>{{SCHEDULED_RESULT1["delay"][pid]["delay_hour"]}}</td>
                                                        <td class="text-danger">
                                                            {{SCHEDULED_RESULT1["delay"][pid]["project_type"]}}</td>

                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            {% endif %}
                                            <div class="card-footer">
                                                <hr>
                                            </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-xl-6">
                                            <table class="table table-hover">
                                                <h5 class="text-center">排程2</h5>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <form method="POST">
                                                                {% if OPTION1 is defined %}
                                                                <input type="hidden" name="time1" value="{{ OPTION1 }}">
                                                                {% endif %}
                                                                <select class="js-example-basic-single form-control"
                                                                    onchange='this.form.submit()'
                                                                    name="released_time_option" required
                                                                    name="released_time_option">
                                                                    {% if OPTION2 is defined %}
                                                                    <option hidden disabled selected value>{{OPTION2}}</option>
                                                                    {% else %}
                                                                    <option hidden disabled selected value>排程版本</option>
                                                                    {% endif %}
                                                                    
                                                                    
                                                                    <optgroup label="依時間選擇">
                                                                        
                                                                        {% for time in TIMEFORM["released"] %}
                                                                        <option value="{{time}}">{{time}}</option>
                                                                        {% endfor %}
                                                                    </optgroup>
                                                                </select>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {% if SCHEDULED_RESULT2 is defined %}
                                            <div class="card-block task-data">
                                                <div class="row text-center">
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="/delay_orders">{{SCHEDULED_RESULT2["scheduled_count"]}}</a>
                                                        </h4>
                                                        <span class="text-muted">排程工單數</span>
                                                        <hr>
                                                    </div>
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="/delay_orders"><span class="text-danger">
                                                                {{ SCHEDULED_RESULT2["delay"] | length}}</span></a>
                                                            
                                                        </h4>
                                                        <span class="text-muted">逾時工單數</span>
                                                        <hr>
                                                        
                                                    </div>
                                                    <div class="col-12">
                                                        <h4>
                                                            <a href="#">{{SCHEDULED_RESULT2["delivery_rate"]}}</a>
                                                        </h4>
                                                        <span class="text-muted">準交率</span>
                                                        
                                                    </div>
                                                    <!-- <div class="col-12">
                                                            <h4><span class="text-danger">28.75</span></h4>
                                                            <span class="text-muted">總逾時數(小時)</span>
                                                            <hr>
                                                        </div> -->
                                                </div>
                                            </div>
                                            {% if SCHEDULED_RESULT2["delay"] | length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>逾時工單</th>
                                                        <th>工單交期</th>
                                                        <th>預計完成</th>
                                                        <th>逾時數</th>
                                                        <th>類型</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="task-page">
                                                    {% for pid2 in SCHEDULED_RESULT2["delay"] %}
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-sm btn-dark"
                                                                href="/work-order-detail.html" target="_blank">
                                                                {{ SCHEDULED_RESULT2["delay"][pid2]["project_name"] }}</a>
                                                        </td>
                                                        <td>{{SCHEDULED_RESULT2["delay"][pid2]["due"]}}</td>
                                                        <td class="text-danger">
                                                            {{SCHEDULED_RESULT2["delay"][pid2]["plan_end_time"]}}</td>
                                                        <td>{{ SCHEDULED_RESULT2["delay"][pid2]["delay_hour"] }}</td>
                                                        <td class="text-danger">{{SCHEDULED_RESULT2["delay"][pid2]["project_type"] }}</td>
                                                    </tr>
                                                    {%endfor%}

                                                </tbody>
                                            </table>
                                            {% endif %}
                                            <div class="card-footer">
                                                <hr>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Data tables.js -->
<script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

<script>



</script>

{% endblock javascripts %}