{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/data-tables/css/datatables.min.css">

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>排程比較
                                        </h3>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">2020/08/17 16:35 (未發行)</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control" >
                                                                    <optgroup label="排程版本">
                                                                        <option value="1">2020/08/17 16:35 (未發行)</option>
                                                                        <option value="2">2020/08/17 07:55</option>
                                                                        <option value="3">2020/08/16 16:35</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="card-block task-data">
                                                    <div class="row text-center">
                                                        <div class="col-12">
                                                            <h4>
                                                                <a href="delay-orders.html">10</a>
                                                            </h4>
                                                            <span class="text-muted">排程工單數</span>
                                                            <hr>
                                                        </div>
                                                        <div class="col-12">
                                                            <h4>
                                                                <a href="delay-orders.html"><span class="text-danger">1</span></a>
                                                            </h4>
                                                            <span class="text-muted">逾時工單數</span>
                                                        </div>
                                                        <!-- <div class="col-12">
                                                            <h4><span class="text-danger">28.75</span></h4>
                                                            <span class="text-muted">總逾時數(小時)</span>
                                                            <hr>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>逾時工單</th>
                                                            <th>工單交期</th>
                                                            <th>預計完成</th>
                                                            <th>逾時數</th>
                                                            <th>類型</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html" target="_blank">MAA2060491</a>
                                                            </td>
                                                            <td>2020-09-30 10:00</td>
                                                            <td class="text-danger">2020-10-01 08:30</td>
                                                            <td>28.75</td>
                                                            <td class="text-danger">急件</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <div class="card-footer">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <table class="table table-hover">
                                                    <h5 class="text-center">2020/08/17 07:55</h5>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select class="js-example-basic-single form-control">
                                                                    <optgroup label="排程版本">
                                                                        <option value="1">2020/08/17 07:55</option>
                                                                        <option value="2">2020/08/16 16:35</option>
                                                                    </optgroup>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="card-block task-data">
                                                    <div class="row text-center">
                                                        <div class="col-12">
                                                            <h4>
                                                                <a href="delay-orders.html">8</a>
                                                            </h4>
                                                            <span class="text-muted">排程工單數</span>
                                                            <hr>
                                                        </div>
                                                        <div class="col-12">
                                                            <h4>
                                                                <a href="delay-orders.html"><span class="text-danger">0</span></a>
                                                            </h4>
                                                            <span class="text-muted">逾時工單數</span>
                                                        </div>
                                                        <!-- <div class="col-12">
                                                            <h4><span class="text-danger">28.75</span></h4>
                                                            <span class="text-muted">總逾時數(小時)</span>
                                                            <hr>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <!-- <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>逾時工單</th>
                                                            <th>工單交期</th>
                                                            <th>預計完成</th>
                                                            <th>逾時數</th>
                                                            <th>類型</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="task-page">
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark" href="/work-order-detail.html" target="_blank">MAA2060491</a>
                                                            </td>
                                                            <td>2020-09-30 10:00</td>
                                                            <td class="text-danger">2020-10-01 08:30</td>
                                                            <td>28.75</td>
                                                            <td class="text-danger">急件</td>
                                                        </tr>

                                                    </tbody>
                                                </table> -->
                                                <div class="card-footer">
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- Data tables.js -->
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>

    <!-- <script type="text/javascript">
        setTimeout(function() {
            $('#simpletable').DataTable();
        }, 200);
        setTimeout(function() {
            $('#simpletable2').DataTable();
        }, 200);
    </script> -->

{% endblock javascripts %}