{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link rel="stylesheet" href="/static/assets/plugins/gantt-pro/build/gantt.classic-dark.css">

{% endblock stylesheets %}

{% block content %}


    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>
                                            各站看板
                                            <button type="button" class="btn btn-rounded btn-outline-primary float-right" data-toggle="modal" data-target="#alertModal">匯出工作明細</button>
                                        </h3>
                                    </div>
                                    <div class="card-block">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select class="js-example-basic-single form-control">
                                                            <option value="1">黃光</option>
                                                            <option value="2">機工</option>
                                                            <option value="3">電鍍</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row text-center">
                                            <div class="col-sm-4">
                                                <h4>
                                                    <a href="delay-orders.html"><span class="text-warning">1</span></a>
                                                </h4>
                                                <span class="text-muted">異常資源</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <h4>8</h4>
                                                <span class="text-muted">有效資源</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <h4><a href="order-list.html"><span class="text-muted">1</span></a></h4>
                                                <span class="text-muted">閒置資源</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-block col-sm-4 ">
                                <div class="card project-task bg-danger">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-20 font-weight-light">M001 曝光機</h4>
                                        </div>
                                        <div class="badge badge-muted f-16">

                                            <p class="m-b-0 text-white">設備損壞</p>
                                            <br>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>

                                        <p class="m-b-0 text-right f-12">最後更新時間 <span
                                                class="badge badge-muted f-12 float-right"> 2020/08/28 16:30</span>
                                        </p>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <h6 class="mt-3 mb-0 text-left text-muted"></h6>

                                    </div>
                                </div>
                            </div>
                            <div class="card-block col-sm-4">
                                <div class="card project-task" style="background-color:#ff9642;">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-18 font-weight-light">M003 自動曝光機</h4>
                                        </div>

                                        <p class="badge badge-light f-16">
                                            <a class="text-dark"
                                                href="/work-order-detail-progress.html">D726942-1F0</a>
                                        </p>
                                        <p class="m-b-0 text-white">即將在10分鐘後結束</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:90%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p class="m-b-0 text-right f-12 text-white">生管交期
                                            <span class="badge badge-muted f-12 float-right text-white"> 2020/08/28
                                                16:30</span></p>
                                        <br>

                                        <a class="badge badge-warning f-16 font-weight-bold float-center"
                                            href="/resource-schedule.html"> 工作排程清單</a>

                                        <div class="col-md-3 text-white text-center">
                                            <a class="badge badge-success f-10"
                                                href="/work-order-detail.html">K734063-1D0</a>
                                            <span class="f-10">8/28</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <a class="badge badge-success f-10"
                                                href="/work-order-detail.html">F742896-1H0</a>
                                            <span class="f-10">8/29</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <span class="badge badge-dark f-10">D538016-2D0</span>
                                            <span class="f-10">8/30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block col-sm-4">
                                <div class="card project-task bg-dark">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-18 font-weight-light">M002 自動曝光機</h4>
                                        </div>
                                        <p class="badge badge-light f-16">
                                            <a class="text-dark"
                                                href="/work-order-detail-progress.html">D164147-2D0</a>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                2020/08/28 14:30</span></p>
                                        <br>
                                        <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                            href="/resource-schedule.html"> 工作排程清單</a>

                                        <div class="col-md-3 text-white text-center">
                                            <a class="badge badge-success f-10"
                                                href="/work-order-detail.html">D234519-1D0</a>
                                            <span class="f-10">4/30</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <span class="badge badge-dark f-10">D234515-1D0</span>
                                            <span class="f-10">8/30</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <a class="badge badge-dark f-10"
                                                href="/work-order-detail-split.html">D234517-1D0</a>
                                            <span class="f-10">8/31</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-block col-sm-4">
                                <div class="card project-task bg-dark">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-18 font-weight-light">M009 壓膜機</h4>
                                        </div>
                                        <p class="badge badge-light f-16">
                                            <a class="text-dark"
                                                href="/work-order-detail-progress.html">D238355-4D0</a>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                2020/08/29 16:30</span></p>
                                        <br>
                                        <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                            href="/resource-schedule.html"> 工作排程清單</a>
                                        <div class="col-md-3 text-white text-center">
                                            <i class="feather icon-link f-10 text-white"></i>
                                            <a class="badge badge-success f-10"
                                                href="/work-order-detail.html">D236491-2D0</a>
                                            <span class="f-10">8/30</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <i class="feather icon-link f-10 text-white"></i>
                                            <span class="badge badge-dark f-10">D236241-5D0</span>
                                            <span class="f-10">8/30</span>

                                        </div>
                                        <div class="col-md-3 text-white text-center">

                                            <a class="badge badge-dark f-10"
                                                href="/work-order-detail-split.html">D236382-2D0</a>
                                            <span class="f-10">9/1</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-block col-sm-4">
                                <div class="card project-task bg-dark">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-18 font-weight-light">M008 壓膜機</h4>
                                        </div>

                                        <p class="badge badge-light f-16">
                                            <a class="text-dark" href="/project-schedule.html">D234467-2D0</a>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p class="m-b-0 text-right f-12">生管交期<span class="badge badge-dark f-12">
                                                2020/08/30 14:30</span></p>
                                        <br>
                                        <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                            href="/resource-schedule.html"> 工作排程清單</a>
                                        <div class="card-center">
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10 ">D234385-2D0</span>
                                                <span class="f-10">9/20</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10">D726942-1F0</span>
                                                <span class="f-10">9/21</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10">F742896-1H0</span>
                                                <span class="f-10">9/22</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-block col-sm-4">
                                <div class="card project-task bg-dark">
                                    <div class="card-block text-center">
                                        <div class="row align-items-center justify-content-center">
                                            <h4 class="f-18 font-weight-light">M0010 壓膜機</h4>
                                        </div>
                                        <p class="badge badge-light f-16">
                                            <a class="text-dark" href="/project-schedule.html">D234519-1D0</a>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                2020/08/30 16:30</span></p>
                                        <br>
                                        <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                            href="/resource-schedule.html"> 工作排程清單</a>
                                        <div class="col-md-3 text-white text-center">
                                            <span class="badge badge-dark f-10 ">D234515-1D0</span>
                                            <span class="f-10">9/21</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <span class="badge badge-dark f-10 ">D234517-1D0</span>
                                            <span class="f-10">9/21</span>
                                        </div>
                                        <div class="col-md-3 text-white text-center">
                                            <span class="badge badge-dark f-10 ">D236491-2D0</span>
                                            <span class="f-10">9/22</span>
                                        </div>



                                    </div>
                                </div>
                            </div>


                            {% include '/resource_card_precode.html' %}
                            {% include '/resource_card_precode-2.html' %}





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- amchart js -->
    <script src="/static/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/static/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/static/assets/plugins/amchart/js/serial.js"></script>
    <script src="/static/assets/plugins/amchart/js/light.js"></script>
    <script src="/static/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/static/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/static/assets/plugins/amchart/js/radar.js"></script>
    <script src="/static/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- am-chart custom js -->
    <script src="/static/assets/js/pages/chart-am-custom.js"></script>

    <!-- chart js -->
    <script src="/static/assets/js/pages/chart-order-slack.js"></script>

    <!-- Chart code -->
    <script>

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("line-stock", {
            "type": "serial",
            "theme": "light",
            "marginTop": 10,
            "marginRight": 0,
            "dataProvider": [{
                "year": "09/01",
                "value": 52,
                "value1": 22,
                "value2": 12,
                "value3": 18,
            }, {
                "year": "09/02",
                "value": 46,
                "value1": 20,
                "value2": 10,
                "value3": 16,
            }, {
                "year": "09/03",
                "value": 38,
                "value1": 18,
                "value2": 8,
                "value3": 12,
            }, {
                "year": "09/04",
                "value": 34,
                "value1": 16,
                "value2": 8,
                "value3": 10,
            }, {
                "year": "09/05",
                "value": 32,
                "value1": 17,
                "value2": 7,
                "value3": 8,
            }, {
                "year": "09/06",
                "value": 33,
                "value1": 20,
                "value2": 6,
                "value3": 7,
            }, {
                "year": "09/07",
                "value": 30,
                "value1": 19,
                "value2": 5,
                "value3": 6,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "graphs": [{
                "id": "g1",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
                "bullet": "round",
                "lineColor": "#10adf5",
                "lineThickness": 2,
                "negativeLineColor": "#10adf5",
                "valueField": "value",
                "title": "工作異常",
            },{
                "id": "g2",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
                "bullet": "round",
                "lineColor": "#1de9b6",
                "lineThickness": 2,
                "negativeLineColor": "#1de9b6",
                "valueField": "value1",
                "title": "工時異常",
            },{
                "id": "g3",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
                "bullet": "round",
                "lineColor": "#fdda08",
                "lineThickness": 2,
                "negativeLineColor": "#fdda08",
                "valueField": "value2",
                "title": "未按次序",
            },{
                "id": "g4",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
                "bullet": "round",
                "lineColor": "#ff0000",
                "lineThickness": 2,
                "negativeLineColor": "#ff0000",
                "valueField": "value3",
                "title": "異常回報",
            }],
            "chartCursor": {
                "cursorAlpha": 0,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "valueLineAlpha": 0.3,
                "fullWidth": true
            },
            "categoryField": "year",
            "categoryAxis": {
                "minorGridAlpha": 0,
                "minorGridEnabled": true,
                "gridAlpha": 0,
                "axisAlpha": 0,
                "lineAlpha": 0
            },
            "legend": {
                "useGraphSettings": true,
                "position": "top",
                "labelText": "[[title]]",
                "fontSize": 14,
                "horizontalGap": 20
            },
        });

        // [ Line with Area Chart 2 ] end

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("line-resource", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
            "year": "09/01",
            "value": 52,
        }, {
            "year": "09/02",
            "value": 50,
        }, {
            "year": "09/03",
            "value": 54,
        }, {
            "year": "09/04",
            "value": 55,
        }, {
            "year": "09/05",
            "value": 45,
        }, {
            "year": "09/06",
            "value": 40,
        }, {
            "year": "09/07",
            "value": 55,
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "有效資源數",
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });

        // [ Line with Area Chart 2 ] end

        // [ Line with Area Chart 2 ] start
        var chart = AmCharts.makeChart("resource-loading", {
        "type": "serial",
        "theme": "light",
        "marginTop": 10,
        "marginRight": 0,
        "dataProvider": [{
                "year": "09/01",
                "value": 52,
                "value1": 22,
                "value2": 12,
                "value3": 18,
            }, {
                "year": "09/02",
                "value": 46,
                "value1": 20,
                "value2": 10,
                "value3": 16,
            }, {
                "year": "09/03",
                "value": 38,
                "value1": 18,
                "value2": 8,
                "value3": 12,
            }, {
                "year": "09/04",
                "value": 34,
                "value1": 16,
                "value2": 8,
                "value3": 10,
            }, {
                "year": "09/05",
                "value": 29,
                "value1": 14,
                "value2": 7,
                "value3": 8,
            }, {
                "year": "09/06",
                "value": 27,
                "value1": 14,
                "value2": 6,
                "value3": 7,
            }, {
                "year": "09/07",
                "value": 40,
                "value1": 19,
                "value2": 5,
                "value3": 16,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "graphs": [{
            "id": "g1",
            "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
            "bullet": "round",
            "lineColor": "#10adf5",
            "lineThickness": 2,
            "negativeLineColor": "#10adf5",
            "valueField": "value",
            "title": "有效資源數",
            }, {
                "id": "g2",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value1]]</span></b>",
                "bullet": "round",
                "lineColor": "#1de9b6",
                "lineThickness": 2,
                "negativeLineColor": "#1de9b6",
                "valueField": "value1",
                "title": "負荷40%-80%",
            },{
                "id": "g3",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value2]]</span></b>",
                "bullet": "round",
                "lineColor": "#fdda08",
                "lineThickness": 2,
                "negativeLineColor": "#fdda08",
                "valueField": "value2",
                "title": "負荷<=40%",
            },{
                "id": "g4",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value3]]</span></b>",
                "bullet": "round",
                "lineColor": "#ff0000",
                "lineThickness": 2,
                "negativeLineColor": "#ff0000",
                "valueField": "value3",
                "title": "負荷>=80%",
            }],
        "chartCursor": {
            "cursorAlpha": 0,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "valueLineAlpha": 0.3,
            "fullWidth": true
        },
        "categoryField": "year",
        "categoryAxis": {
            "minorGridAlpha": 0,
            "minorGridEnabled": true,
            "gridAlpha": 0,
            "axisAlpha": 0,
            "lineAlpha": 0
        },
        "legend": {
            "useGraphSettings": true,
            "position": "top",
            "labelText": "[[title]]",
            "fontSize": 14,
            "horizontalGap": 20
        },
    });

        // [ Line with Area Chart 2 ] end
    </script>

{% endblock javascripts %}