
    <div class="card">
        <div class="card-header">
            <h3>
                <button class="btn btn-lg btn-secondary float-left" type="button"
                    data-toggle="collapse" data-target="#collapseExample1"
                    aria-expanded="false" aria-controls="collapseExample"> 瓶頸1 <i
                        class="mdi mdi-unfold-more-horizontal f-22"></i></button>
            </h3>
        </div>
        <div class="collapse show" id="collapseExample1">
            <div class="card-block">
                hello world
            </div>
        </div>
    </div>
</div>