{% extends "layouts/base.html" %}

{% block title %} Work Center {% endblock %}

{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->


<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card Active-visitor">
                                <div class="card-header">
                                    <h3>工作看板
                                    </h3>
                                    {% if SCHEDULE_VERSION %}
                                    <form method="POST">
                                        <select class="js-example-basic-single form-control"
                                            onchange='this.form.submit()' name="schedule_version">
                                            <optgroup label="依時間選擇">
                                                {% for version in SCHEDULE_VERSION %}
                                                <option value="{{version}}">排程版次: [{{
                                                    SCHEDULE_VERSION[version]["status"] }}]{{
                                                    SCHEDULE_VERSION[version]["time"] }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </form>
                                    {% endif %}
                                    <!-- {% if MES_VERSION %}
                                    <select class="js-example-basic-single form-control" onchange='this.form.submit()'
                                    name="schedule_version" >
                                    <optgroup label="依時間選擇">
                                        {% for version in MES_VERSION %}
                                        <option value="{{version}}">回報版次:[{{ MES_VERSION[version]["status"] }}]{{ MES_VERSION[version]["time"] }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                                    {% endif %} -->
                                    <!-- <a href="#!" class="badge badge-dark f-14 text-white font-weight-light float-left">排程版次： {{ VERSION_NAME}}</a> -->
                                    <!-- <a href="/mes_update"><button type="button" class="btn btn-rounded btn-outline-primary float-right">更新</button></a> -->
                                </div>
                                <br>

                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-4">
                                            <table class="table table-hover">

                                                <h5 class="text-center">站點查詢</h5>

                                                <tbody>{% if PROCESS_LIST is defined %}
                                                    <tr>
                                                        <td>
                                                            <form method="POST">
                                                                <select class="js-example-basic-single form-control"
                                                                    onchange='this.form.submit()' name="process_option"
                                                                    required>
                                                                    <option value="all">站點列表</option>
                                                                    <optgroup label="站點">
                                                                        <option value="all">所有站點</option>
                                                                        {% if QUERY is defined %}
                                                                        {% if QUERY["process_option"] is defined %}
                                                                        <option hidden disabled selected value>
                                                                            {{QUERY["process_option"]}}</option>
                                                                        {% endif %}
                                                                        {% endif %}

                                                                        {% for process_id in PROCESS_LIST %}
                                                                        <option value={{PROCESS_LIST[process_id]}}>
                                                                            {{PROCESS_LIST[process_id]}}</option>
                                                                        {% endfor %}

                                                                    </optgroup>
                                                                </select>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-4">
                                            <table class="table table-hover">
                                                <h5 class="text-center">製程查詢</h5>
                                                <tbody>
                                                    {% if JLB_LIST is defined %}
                                                    <tr>
                                                        <td>
                                                            <form method="POST">
                                                                <select class="js-example-basic-single form-control"
                                                                    onchange='this.form.submit()' name="jlb_option"
                                                                    required name="jlb_option">
                                                                    <option value="all">製程列表</option>
                                                                    <optgroup label="製程">
                                                                        <option value="all">所有製程</option>
                                                                        {% if QUERY is defined %}
                                                                        {% if QUERY["jlb_option"] is defined %}
                                                                        <option hidden disabled selected value>
                                                                            {{QUERY["jlb_option"] }}</option>
                                                                        {% endif %}
                                                                        {% endif %}

                                                                        {% for jlb_name in JLB_LIST %}
                                                                        <option value={{jlb_name}}>
                                                                            {{jlb_name}}</option>
                                                                        {% endfor %}

                                                                    </optgroup>
                                                                </select>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-4">
                                            <table class="table table-hover">
                                                <h5 class="text-center">日期查詢</h5>
                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <form method="POST">
                                                                {% if QUERY is defined %}
                                                                {% if QUERY["time_option"] is defined %}
                                                                <input type="number" id="time_option" name="time_option"
                                                                    min=0 max=32 class="form-control"
                                                                    placeholder="未來{{QUERY['time_option'] }}小時">
                                                                {% else %}
                                                                <input type="number" id="time_option" name="time_option"
                                                                    min=0 max=32 class="form-control"
                                                                    placeholder="未來32小時">
                                                                {% endif %}
                                                                {% endif %}

                                                            </form>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                {% if DASHBOARD is defined %}
                                <div class="row row card-active text-center">
                                    <div class="col-2">
                                        <h4>
                                            <a href="delay-orders.html">
                                                {% if DASHBOARD["resource_abnormal"] > 0 %}
                                                <span class="text-danger">{{DASHBOARD["resource_abnormal"]}}</span>
                                                {% else%}
                                                <span class="text-muted">{{DASHBOARD["resource_abnormal"]}}</span>
                                                {% endif%}
                                            </a>
                                        </h4>
                                        <span class="text-muted">資源異常</span>
                                    </div>
                                    <div class="col-2">
                                        {% if DASHBOARD["job_abnormal"] %}
                                        {% if DASHBOARD["job_abnormal"] > 0 %}
                                        <h4 class="text-danger">{{DASHBOARD["job_abnormal"]}}</h4>
                                        {% else %}
                                        <h4 class="text-muted">{{DASHBOARD["job_abnormal"]}}</h4>
                                        {% endif %}
                                        {% else %}
                                        <h4 class="text-muted">0</h4>
                                        {%endif %}
                                        <form action="/job_performance_list" method="POST">
                                            <input type="hidden" name="query_options" value="{{ QUERY }}" />
                                            <button type="submit" class="btn btn-sm btn-dark f-16">工作異常</button>

                                        </form>

                                    </div>
                                    <div class="col-2">
                                        <h4>{{DASHBOARD["remain_goals"]}}</h4>
                                        <span class="text-muted">今日剩餘工作</span>
                                    </div>
                                    <div class="col-2">
                                        <h4>{{DASHBOARD["inprogress_count"]}}</h4>
                                        <form action="/inprogress_jobs" method="POST">
                                            <input type="hidden" name="query_options" value="{{ QUERY }}" />
                                            <button type="submit" class="btn btn-sm btn-dark f-16">進行中工作</button>

                                        </form>
                                    </div>
                                    <div class="col-2">
                                        <h4>{{DASHBOARD["available_resource"]}}</h4>
                                        <span class="text-muted">有效資源</span>
                                    </div>
                                    <div class="col-2">
                                        <h4><a href="order-list.html"><span
                                                    class="text-muted">{{DASHBOARD["idle_resource_count"]}}</span></a>
                                        </h4>
                                        <span class="text-muted">閒置資源</span>
                                    </div>


                                </div>

                                <br>

                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if SCHEDULE is defined %}

                    <div class="block">
                        <!-- [ 有效資源 ] start -->
                        <div class="row">
                            {% for rid in SCHEDULE %}

                            <div class="card-block col-sm-4">
                                {% if SCHEDULE[rid]["resource_color"] == 3 %}
                                <div class="card project-task bg-dark">
                                    {% elif SCHEDULE[rid]["resource_color"] == 2 %}
                                    <div class="card project-task bg-danger">
                                        {% elif SCHEDULE[rid]["resource_color"] == 4 %}
                                        <div class="card project-task bg-info">
                                            {% endif %}
                                            <div class="card-block text-center">
                                                <div class="row align-items-center justify-content-center">
                                                    {% if QUERY["time_option"] is defined %}
                                                    <a
                                                        href="/resource_schedule?rid={{rid}}&time={{QUERY['time_option']}}">
                                                        {% else %}
                                                        <a href="/resource_schedule?rid={{rid}}&time=32">
                                                            {% endif %}
                                                            <h3 class="font-weight-light">

                                                                {{rid}}-{{SCHEDULE[rid]["resource_name"]}}</h3>
                                                        </a>
                                                </div>
                                                {% set running_range = {'flag': 0} %}
                                                {% for job_info in SCHEDULE[rid]["job_list"][:1] %}
                                                {% if job_info["status"] == "running" %}

                                                <p class="badge badge-light f-16">

                                                    <a class="text-dark"
                                                        href="/job_detail/{{job_info['job_id']}}">{{job_info["full_name"]}}</a>
                                                    {% if job_info["detail"] %}
                                                    <i class="feather icon-star-on text-warning"></i>
                                                    {% endif %}
                                                </p>

                                                <div class="progress">
                                                    <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{job_info['progress']}}%;height:6px;"
                                                        aria-valuenow=" {{job_info['progress']}}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>

                                                <p class="m-b-0 text-right f-14">生管交期<span
                                                        class="badge badge-dark f-14">
                                                        {{job_info['plan_end_time']}}</span></p>
                                                <br>
                                                {% if running_range.update({'flag': 1}) %} {% endif %}
                                                {% endif %}
                                                {%endfor%}

                                                {% if SCHEDULE[rid]["resource_color"] == 3%}
                                                {% if QUERY["time_option"] is defined %}
                                                <a class="badge f-16 font-weight-normal float-center badge-secondary"
                                                    href="/resource_schedule?rid={{rid}}&time={{ QUERY['time_option']}}">待進行工作</a>

                                                {% else %}
                                                <a class="badge f-16 font-weight-normal float-center badge-secondary"
                                                    href="/resource_schedule?rid={{rid}}&time=32">
                                                    待進行工作</a>

                                                {% endif %}

                                                <br>
                                                {% else %}
                                                <div class="badge badge-muted f-16">
                                                    <p class="m-b-0 text-white">{{SCHEDULE[rid]["event_type"]}}</p>
                                                    <br>
                                                </div>
                                                {% endif %}



                                                {% for job_info in SCHEDULE[rid]["job_list"][running_range.flag:4] %}
                                                <div>

                                                    {% if (loop.index == 1) and ( job_info['status'] == 'ready')%}
                                                    <a class="badge badge-success f-14 "
                                                        href="/job_detail/{{job_info['job_id']}}">{{job_info['full_name']}}</a>

                                                    {% else %}

                                                    <a class="badge badge-muted f-14 "
                                                        href="/job_detail/{{job_info['job_id']}}">{{job_info['full_name']}}</a>
                                                    {% if job_info["detail"] %}
                                                    <i class="feather icon-star-on text-warning"></i>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% if job_info['plan_start_time'] %}
                                                    <span>{{job_info['plan_start_time'][5:10].replace('-','/')}}</span>
                                                    {% else %}
                                                    <span></span>
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                    {%endfor%}








                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}


{% endblock javascripts %}