{% extends "layouts/base.html" %}

{% block title %} D236491-2D0 - 料號明細 {% endblock %}

{% block stylesheets %}

<!-- Smart Wizard css -->

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->


        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ task-detail ] start -->
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>D236491-2D0 <span class="badge badge-primary f-12">進行中</span>
                                                <!--
                                                <a class="btn btn-rounded btn-outline-warning float-right"
                                                    href="/mfg-order-data.html" role="button">取消</a>
                                                <a class="btn btn-rounded btn-outline-warning float-right"
                                                    href="/mfg-order-data.html" role="button">暫停</a>
                                                <a class="btn btn-rounded btn-outline-warning float-right"
                                                    href="/mfg-order-data.html" role="button">編輯</a>
                                                -->
                                                <a class="btn btn-rounded btn-outline-primary float-right"
                                                    href="/mfg-order-data.html" role="button">原始資料</a>
                                            </h3>
                                            <br>
                                            <p class="text-muted">最後更新時間：2020-09-03 14:19</p>
                                            <p class="text-muted">工單號：MAA1840001</p>
                                            <p class="text-muted">關聯料號：D236241-5D0</p>
                                            <p class="text-muted">工單交期：2020-09-30 16:00</p>
                                            <p class="text-muted">數量：20</p>
                                        </div>
                                    
                                    <!--
                                        <div class="card-block">
                                            <h6>交期剩餘時間</h6>
                                                <hr>
                                                <div class="counter text-center">
                                                    <h4 id="timer" class="text-white m-0"></h4>
                                                </div>
                                                <hr> 
                                            <h5>製品</h5>
                                            <br>
                                            
                                            <table class="table table-hover">
                                                <h6>製品項數：1</h6>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select class="js-example-basic-single form-control">
                                                                <option value="1">Product 1</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-light">指定交期：無 (依工單交期)</p>
                                            -->
                                    <div class="card-block">

                                        <h5>工作流程 <span class="badge badge-secondary f-12"> 已排程</span></h5>
                                        <div class="m-b-20">

                                            <div class="table-responsive m-t-20">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr class="text-uppercase">
                                                            <th>狀態</th>
                                                            <th>工作編號</th>
                                                            <th>製品流程</th>
                                                            <th>製程名稱</th>
                                                            <th>前置零件</th>
                                                            <th>排定資源</th>
                                                            <th>預計開始</th>
                                                            <th>預計結束</th>
                                                            <th>等待時間(小時)</th>
                                                            <th>實際開始</th>
                                                            <th>實際結束</th>
                                                            <th class="text-right">備註</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-muted">
                                                        <tr>
                                                            <td><span class="badge badge-primary f-12">進行中</span>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark"
                                                                    href="/job-detail.html">JID00000001</a></td>
                                                            <td>1</td>
                                                            <td>作業1</td>
                                                            <td>N/A</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark"
                                                                    href="/resource-detail.html">M001</a>
                                                                <a class="btn btn-sm btn-dark"
                                                                    href="/resource-detail.html">H001</a>
                                                            </td>
                                                            <td>2020-09-10 11:50</td>
                                                            <td>2020-09-10 16:50</td>
                                                            <td>0</td>
                                                            <td>2020-09-10 11:50</td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="badge badge-secondary f-12">已排程</span>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark"
                                                                    href="/job-detail.html">JID00000002</a></td>
                                                            <td>2</td>
                                                            <td>作業2</td>
                                                            <td>N/A</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark"
                                                                    href="/resource-detail.html">H002</a>
                                                            </td>
                                                            <td>2020-09-10 16:50</td>
                                                            <td>2020-09-10 17:20</td>
                                                            <td>0</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="badge badge-secondary f-12">已排程</span>
                                                            </td>
                                                            <td><a class="btn btn-sm btn-dark"
                                                                    href="/job-detail.html">JID00000003</a></td>
                                                            <td>3</td>
                                                            <td>作業3</td>
                                                            <td>N/A</td>
                                                            <td>
                                                                <a class="btn btn-sm btn-dark"
                                                                    href="/resource-detail.html">H003</a>
                                                            </td>
                                                            <td>2020-09-10 17:20</td>
                                                            <td>2020-09-10 17:30</td>
                                                            <td>0</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    
    <!-- [ Main Content ] end -->

    {% endblock content %}

    {% block javascripts %}

    <!-- Smart Wizard Js
    <script src="/static/assets/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/assets/js/pages/wizard-custom.js"></script> -->

    <script>
        // Set the date we're counting down to
        var d = new Date();
        d.setDate(d.getDate() + 5);
        var countDownDate = new Date(d).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = "<b>" + days + "</b>days : <b>" + hours +
                "</b>h : <b>" +
                minutes + "</b>m : <b>" + seconds + "</b>s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 2000);
    </script>

    {% endblock javascripts %}