{% extends "layouts/base.html" %}

{% block title %} Work Center {% endblock %}

{% block stylesheets %}

<!-- gridstack css -->
<link rel="stylesheet" href="/static/assets/plugins/gridstack/css/gridstack.min.css">
<!-- gridstack-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/gridstack.css">
<!-- pnotify css -->
<link rel="stylesheet" href="/static/assets/plugins/pnotify/css/pnotify.custom.min.css">
<!-- pnotify-custom css -->
<link rel="stylesheet" href="/static/assets/css/pages/pnotify.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->

        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body stack-mobile">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-hover">
                                    <h6>工作中心</h6>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select class="js-example-basic-single form-control">
                                                    <option value="1">黃光</option>
                                                    <option value="2">機工</option>
                                                    <option value="3">電鍍</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row text-center">
                                    <div class="col-sm-4">
                                        <h4>
                                            <a href="delay-orders.html"><span class="text-warning">1</span></a>
                                        </h4>
                                        <span class="text-muted">異常資源</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4>8</h4>
                                        <span class="text-muted">有效資源</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4><a href="order-list.html"><span class="text-muted">1</span></a></h4>
                                        <span class="text-muted">閒置資源</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- [ 異常資源 ] start 

                        <div class="block">
                            
                            <div class="card text-center bg-secondary">
                                <div class="card-block">
                                    <h4 class="f-w-300 m-t-10 text-warning">M001 曝光機</h4>
                                    <i class="feather icon-alert-triangle text-warning f-50"></i>
                                    <p class="m-b-0 text-warning">設備損壞</p>
                                    <span class="badge f-12 float-right">最後更新時間 2020/08/28 16:30</span>
                                </div>
                            </div>
                        </div>
                         [ 異常資源 ] end -->

                        <div class="block">
                            <!-- [ 有效資源 ] start -->
                            <div class="row">
                                <div class="card-block col-sm-4 ">
                                    <div class="card project-task bg-danger">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-20 font-weight-light">M001 曝光機</h4>
                                            </div>
                                            <div class="badge badge-muted f-16">

                                                <p class="m-b-0 text-white">設備損壞</p>
                                                <br>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>

                                            <p class="m-b-0 text-right f-12">最後更新時間 <span
                                                    class="badge badge-muted f-12 float-right"> 2020/08/28 16:30</span>
                                            </p>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <h6 class="mt-3 mb-0 text-left text-muted"></h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-block col-sm-4">
                                    <div class="card project-task" style="background-color:#ff9642;">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-18 font-weight-light">M003 自動曝光機</h4>
                                            </div>

                                            <p class="badge badge-light f-16">
                                                <a class="text-dark"
                                                    href="/work-order-detail-progress.html">D726942-1F0</a>
                                            </p>
                                            <p class="m-b-0 text-white">即將在10分鐘後結束</p>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:90%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="m-b-0 text-right f-12 text-white">生管交期
                                                <span class="badge badge-muted f-12 float-right text-white"> 2020/08/28
                                                    16:30</span></p>
                                            <br>

                                            <a class="badge badge-warning f-16 font-weight-bold float-center"
                                                href="/resource-schedule.html"> 工作排程清單</a>

                                            <div class="col-md-3 text-white text-center">
                                                <a class="badge badge-success f-10"
                                                    href="/work-order-detail.html">K734063-1D0</a>
                                                <span class="f-10">8/28</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <a class="badge badge-success f-10"
                                                    href="/work-order-detail.html">F742896-1H0</a>
                                                <span class="f-10">8/29</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10">D538016-2D0</span>
                                                <span class="f-10">8/30</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block col-sm-4">
                                    <div class="card project-task bg-dark">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-18 font-weight-light">M002 自動曝光機</h4>
                                            </div>
                                            <p class="badge badge-light f-16">
                                                <a class="text-dark"
                                                    href="/work-order-detail-progress.html">D164147-2D0</a>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                    2020/08/28 14:30</span></p>
                                            <br>
                                            <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                                href="/resource-schedule.html"> 工作排程清單</a>

                                            <div class="col-md-3 text-white text-center">
                                                <a class="badge badge-success f-10"
                                                    href="/work-order-detail.html">D234519-1D0</a>
                                                <span class="f-10">4/30</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10">D234515-1D0</span>
                                                <span class="f-10">8/30</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <a class="badge badge-dark f-10"
                                                    href="/work-order-detail-split.html">D234517-1D0</a>
                                                <span class="f-10">8/31</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-block col-sm-4">
                                    <div class="card project-task bg-dark">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-18 font-weight-light">M009 壓膜機</h4>
                                            </div>
                                            <p class="badge badge-light f-16">
                                                <a class="text-dark"
                                                    href="/work-order-detail-progress.html">D238355-4D0</a>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:80%;height:6px;" aria-valuenow="80" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                    2020/08/29 16:30</span></p>
                                            <br>
                                            <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                                href="/resource-schedule.html"> 工作排程清單</a>
                                            <div class="col-md-3 text-white text-center">
                                                <i class="feather icon-link f-10 text-white"></i>
                                                <a class="badge badge-success f-10"
                                                    href="/work-order-detail.html">D236491-2D0</a>
                                                <span class="f-10">8/30</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <i class="feather icon-link f-10 text-white"></i>
                                                <span class="badge badge-dark f-10">D236241-5D0</span>
                                                <span class="f-10">8/30</span>

                                            </div>
                                            <div class="col-md-3 text-white text-center">

                                                <a class="badge badge-dark f-10"
                                                    href="/work-order-detail-split.html">D236382-2D0</a>
                                                <span class="f-10">9/1</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-block col-sm-4">
                                    <div class="card project-task bg-dark">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-18 font-weight-light">M008 壓膜機</h4>
                                            </div>

                                            <p class="badge badge-light f-16">
                                                <a class="text-dark" href="/project-schedule.html">D234467-2D0</a>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="m-b-0 text-right f-12">生管交期<span class="badge badge-dark f-12">
                                                    2020/08/30 14:30</span></p>
                                            <br>
                                            <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                                href="/resource-schedule.html"> 工作排程清單</a>
                                            <div class="card-center">
                                                <div class="col-md-3 text-white text-center">
                                                    <span class="badge badge-dark f-10 ">D234385-2D0</span>
                                                    <span class="f-10">9/20</span>
                                                </div>
                                                <div class="col-md-3 text-white text-center">
                                                    <span class="badge badge-dark f-10">D726942-1F0</span>
                                                    <span class="f-10">9/21</span>
                                                </div>
                                                <div class="col-md-3 text-white text-center">
                                                    <span class="badge badge-dark f-10">F742896-1H0</span>
                                                    <span class="f-10">9/22</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-block col-sm-4">
                                    <div class="card project-task bg-dark">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-18 font-weight-light">M0010 壓膜機</h4>
                                            </div>
                                            <p class="badge badge-light f-16">
                                                <a class="text-dark" href="/project-schedule.html">D234519-1D0</a>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                    style="width:0%;height:6px;" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="m-b-0 text-right f-12">生管交期 <span class="badge badge-dark f-12">
                                                    2020/08/30 16:30</span></p>
                                            <br>
                                            <a class="badge badge-secondary f-16 font-weight-normal float-center"
                                                href="/resource-schedule.html"> 工作排程清單</a>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10 ">D234515-1D0</span>
                                                <span class="f-10">9/21</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10 ">D234517-1D0</span>
                                                <span class="f-10">9/21</span>
                                            </div>
                                            <div class="col-md-3 text-white text-center">
                                                <span class="badge badge-dark f-10 ">D236491-2D0</span>
                                                <span class="f-10">9/22</span>
                                            </div>



                                        </div>
                                    </div>
                                </div>


                                {% include '/resource_card_precode.html' %}
                                {% include '/resource_card_precode-2.html' %}





                            </div>
                            <!-- [ 有效資源 ] end -->
                        </div>
                        <div class="block">
                            <!-- [ 無效資源 ] start -->
                            <div class="row">

                                <div class="card-block col-sm-4">
                                    <div class="card project-task bg-info">
                                        <div class="card-block text-center">
                                            <div class="row align-items-center justify-content-center">
                                                <h4 class="f-w-300 m-t-10 ">M066 鑽孔機</h4>
                                            </div>
                                            <span class="badge f-12 float-right">無排定工作</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ 有效資源 ] end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
 
    <!-- [ Main Content ] end -->

    {% endblock content %}

    {% block javascripts %}

    <!-- gridstack Js -->
    <script src="/static/assets/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script src="/static/assets/plugins/gridstack/js/lodash.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.min.js"></script>
    <script src="/static/assets/plugins/gridstack/js/gridstack.jQueryUI.min.js"></script>
    <script src="/static/assets/js/pages/ac-gridstack.js"></script>

    {% endblock javascripts %}