.grid-stack {
    background: #fafafa;
}

.grid-stack-item-content {
    color: #fff;
    text-align: center;
    background: #272727;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

.drg-widget {
    background: linear-gradient( -135deg, #1de9b6 0%, #1dc4e9 100%);
}

.drg-widget span {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.grid-stack-item-removing {
    opacity: 0.5;
}

.trash {
    height: 100px;
    margin-bottom: 20px;
    background: #f4f7fa;
    position: relative;
    border:2px dashed #ccc;
}
.trash:after{
    content: "\e8da    Drag hear to remove grid";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: feather;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.stack-mobile .error-block{
    display:none;
}

@media screen and (max-width: 991px) {
    .stack-mobile .error-block{
        display:block;
    }
    .stack-mobile .page-wrapper{
        display:none;
    }

}
