{% extends "layouts/base-fullscreen.html" %}

{% block title %} SignIN {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center">
                <br>
                <br>
                <p class="f-80 font-weight-bold" style="line-height: 50px; font-family: Arial, Helvetica, sans-serif; color:#FF6600;">sara</p>
                <p class="f-48 font-weight-bold" style="line-height: 48px; font-family: Arial, Helvetica, sans-serif;">factory</p>
                <br>
                <br>
                <h3 class="text-white">智慧排程管理系統</h3>
                <!-- <span class="mb-0 text-white"> -->
                    {% if msg %}
                        {% if error %}
                            <span class="mb-0 text-danger">
                            {{ msg | safe }}
                            </span>
                        {% else %}
                            <span class="mb-0 text-success">
                            {{ msg | safe }}
                            </span>
                        {% endif %} 
                    {% endif %} 
                </span>

                <br />

                <div class="col-12">

                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}                    

                        <div class="input-group mb-3">
                            {{ form.username(placeholder="帳號 Username", class="btn-sm form-control text-white") }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form.password(placeholder="密碼 Password", class="btn-sm form-control text-white", type="password") }}
                        </div>
                        <button type="submit" name="login" class="btn btn-primary btn-sm btn-block mb-3">登入</button>

                    </form>
                    <!-- <a href="{{ url_for('base_blueprint.reset_password') }}"><button type="button" class="btn btn-sm btn-block btn-outline-secondary mb-3">忘記密碼 ?</button></a>
                    <a href="{{ url_for('base_blueprint.register') }}"><button type="button" class="btn btn-sm btn-block btn-outline-secondary mb-3">註冊新帳號</button></a>     -->

                </div>

                <br>

                    
            </div>
            <div class="card-footer text-center">
                <a href="https://interagent.io"><span class="text-white">&copy; 2021 InterAgent.io</span></a>

            </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
