{% extends "layouts/base-fullscreen.html" %}

{% block title %} 註冊新帳號 {% endblock %} 

{% block stylesheets %}

<!-- Specific Page CSS goes HERE  -->

{% endblock stylesheets %}

{% block content %}

<div class="auth-wrapper>
    <div class="auth-content">
        <div class="text-white">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-4 text-white">註冊新帳號</h3>
                
                <span class="mb-0 text-white">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        Sign up
                    {% endif %} 
                </span>

                <br />
                <br />

                <form role="form" method="post" action="">

                    {{ form.hidden_tag() }}   

                    <div class="input-group mb-3">
                        {{ form.username(placeholder="Username", class="form-control text-white") }}
                    </div>
                    <div class="input-group mb-3">
                        {{ form.email(placeholder="Email", class="input form-control text-white", type="email") }}
                    </div>
                    <div class="input-group mb-4">
                        {{ form.password(placeholder="Password", class="form-control text-white", type="password") }}
                    </div>
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                            <label for="checkbox-fill-2" class="cr">
                                Agree with <a class="text-white" href="#">terms</a></label>
                            </label>
                        </div>
                    </div>
                    <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>
                
                </form>

                <p class="mb-0 text-muted">Have an account? <a class="text-white" href={{ url_for('base_blueprint.login') }} >Login</a></p>
                <br />
                <p class="text-muted m-b-15 m-t-20">
                    &copy; 2020 <span class="text-c-green"> InterAgent.io</span>
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}
