{% extends "layouts/base-fullscreen.html" %}

{% block title %} 403 Page {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather x-circle"></i>
                    </div>
                    <h3 class="mb-4">此項功能仍在測試中</h3>

                    <br />

                    <span class="mb-0 text-muted">
                        尚未開放 - <a class="text-light" href="/">返回</a> 
                    </span>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
