<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>
<script src="/static/assets/js/horizontal-menu.js"></script>
<script>
    $(document).ready(function () {
        getNotification();
        getProgress();
        setInterval(function () {
            getProgress();
        }, 10000);
    });
    function getNotification() {
        $.ajax({
            url: "http://" + document.domain + "/get_notification",
            type: "GET",
            success: function (data) {
                $("#NOTI").html(data);
            }
        });
    }
    function getProgress(){
        $.ajax({
            url: "http://" + document.domain + "/api/get_schedule_progress",
            type: "GET",
            success: function (data) {
                $("#VERSION").html(data["time"]); 
                $("#PROGRESS").html(data["status"]);
            }
        }); 
    }
</script>
